// @import 'vendor/_normalize.scss';
@import 'partials/_fonts';
@import 'partials/_media-queries';

// Color Variables
$white: #f9f8ef;
$black: #231f20;

$grey: #2e2e2e;

$green: #2bb673;
$borderColor: $green;

// Used for elements cross site like borders and font styles
$primaryGrey: #2e2e2e;

$greyBG: #3B3B3B;
$navActiveColor: $green;

// Section Specific Fonts
$fontColor: $primaryGrey;
$formPlaceholderColor: #dddddd;

// Fonts
// $headingFont: 'SangBleu Versailles', serif;
// $bodyFont: 'Suisse', sans-serif;

$headingFont: 'GT America', sans-serif;
$bodyFont: 'GT America', sans-serif;

// Breakpoints
$xsBreak: 374px;
$smBreak: 420px;
$mdBreak: 767px;
$lgBreak: 1100px;

$xlBreak: 1500px;

$promptMaxHeight: 680px;

// Grid related properties
$gridContainer: 1950px;
$gridBreakSm: 550px;
$gridBreakMd: 750px;
$gridBreakLg: 1180px;
$gridBreakXl: 1700px;


// Nav specific variables
$navBreak: 1250px;
$navDrawerWidthSm: calc(100% - 120px);
$navDrawerWidthMd: 260px;
$navLinkColor: $green;

// Card Specific Variables
$cardBG: #F4F4F4;
$greyCardBG: #2e2e2e;
$greyCardText: #DFDFDF;


/* ********************************
 * Sitewide Settings
 * ******************************** */
* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

img {
  max-width: 100%;
  height: auto;
}

html {
    background: $white;

    &.fixed {
        height: 100vh;
        overflow-y: hidden;
    }
}

body {
  width: 100%;
  height: 100%;

  margin: 0;

  font-family: $bodyFont;
  font-weight: normal;
  font-style: normal;

  color: $fontColor;
  background: $white;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.fixed {
    height: 100vh;
    overflow-y: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headingFont;
    font-weight: 700;
}

%standard-font-style {
    font-family: $bodyFont;
    font-weight: 300;

    font-size: 17px;
    line-height: 20px;

    @include mq($min-width: $lgBreak) {
        font-size: 22px;
        line-height: 24px;
    }
}

p, li {
    margin: 0 0 20px 0;
    font-size: 17px;
    line-height: 20px;

    @include mq($min-width: $lgBreak) {
        margin: 0 0 20px 0;
        font-size: 22px;
        line-height: 24px;
    }

    a {
        text-decoration: underline;

        transition: color 250ms ease;

        &:hover {
            color: $navActiveColor;
        }
    }
}

ul {
    @include mq($min-width: $lgBreak) {
        margin-top: 50px;
        padding-left: 50px;
    }
}

a {
    color: $fontColor;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 12px 10px;

    font-family: $headingFont;
    color: $greyBG;
    text-align: center;

    border: 1px solid $primaryGrey;

    transition: all 250ms ease;

    &:hover {
        color: $cardBG;
        background: $greyBG;
    }
}

.footer {
    display: flex;

    padding: 15px 20px;

    font-size: 12px;
    line-height: 18px;

    background: $white;
    border-top: 1px solid $borderColor;

    @include mq($min-width: $navBreak) {
        padding: 15px 40px;

        border-top: 1px solid $borderColor;
    }

    &__left,
    &__right {
        flex: 1;
        width: 50%;

        // outline: 1px solid red;
    }

    &__left {
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @include mq($min-width: 370px) {
            padding-right: 0;
        }
    }

    &__right {
        text-align: right;
    }

    a {
        text-decoration: none;
    }
}

body.dark {
    background: $greyBG;

    background-image: linear-gradient(180deg, $greyBG 0%, #FFFFFF 100%);

    .footer {
        color: $cardBG;
        background: $greyBG;

        border-top: 1px solid $cardBG;

        a {
            color: $cardBG;
        }
    }
}

.footer-nav {
    list-style: none;
    padding:0;
    margin: 0;

    columns: 2;

    max-width: 280px;

    margin-left: auto;

    li {
        padding-bottom: 0;
        margin-bottom: 0;

        font-size: 12px;
        line-height: 18px;

        padding-left: 10px;
    }
}

body.page-template-template-split,
body.single-card {
    .footer {
        @include mq($min-width: $mdBreak) {
            width: 50%;
        }
    }
}

/* 
body.single-card {
    .footer {
        background: $cardBG;
    }
}*/

// To be deleted when page tempalte is built
.temp-page {
    min-height: calc(100vh - 85px);

    padding-top: 40px;
    
    h1 {
        margin: 0;
    }
}

/* *************************
 * Navigation
 * ************************* */

$navOffsetSm: 57px;
$navOffsetLg: 83px;
// All site content is wrapped in <main> that uses margin to offset the sticky nav
main {
    margin-top: $navOffsetSm;

    @include mq($min-width: $navBreak) {
        margin-top: $navOffsetLg;
    }
}

// Common styles for the nav items. Specific styles per nav type (drawer/sticky) are set within their specific area
.navbar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    
    a {
        position: relative;

        color: $navLinkColor;
        font-weight: 500;
        text-decoration: none;

        transition: all 250ms ease;

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 0;
            height: 1px;

            background: $navLinkColor;

            content: '';

            transition: all 250ms ease;
            display: none;
        }

        &:hover {
            color: $navActiveColor;

            &::before {
              // width: 100%;
              
            }
        }
    }
}


// Overlay for the navbar
.navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.75);

    &.visible {
        display: block;
    }

    @include mq($min-width: $navBreak) {
        
        display: none !important;
        
    }
}

.navbar-drawer {
    position: fixed;
    width: $navDrawerWidthSm;
    top: 0;
    right: -100%;

    z-index: 1001;
    height: 100%;

    padding: 70px 20px 40px 20px;

    background: $white;

    transition: right 250ms ease, padding 250ms ease;

    @include mq($min-width: 420px) {
        width: $navDrawerWidthMd;
        right: -$navDrawerWidthMd;
    }

    &.visible {
        right: 0;

        .navbar-drawer__close-btn {
            display: block;
        }
    }

    &__close-btn {
        position: fixed;
        top: 60px;
        left: 10px;

        width: 40px;
        height: 40px;

        display: none;

        &::before,
        &::after {
            position: absolute;
            top: 50%;
            
            width: 24px;
            height: 2px;

            background: $white;

            transform-origin: center;

            content: '';

            border-radius: 50px;
        }
        &::before {
            transform: rotate(45deg);
            left: 8px;
        }

        &::after {
            transform: rotate(-45deg);
            left: 8px;
        }
    }

    &__search-form {
        position: relative;
        margin-top: 20px;


        input[type="text"] {
            width: 100%;
            max-width: 100%;

            padding: 8px 0;
            margin-bottom: 20px;

            font-size: 16px;
            color: $fontColor;

            background: $white;

            border: none;
            border-radius: 0;
            border-bottom: 1px solid $green;

            &::placeholder {
                font-size: 20px;
                color: $formPlaceholderColor;
            }

            &:focus {
                outline: none;
            }
        }

        input[type="submit"] {
            position: absolute;
            top: 4px;
            right: 0;

            width: 30px;
            height: 28px;

            margin: 0;

            font-size: 1px;
            color: $white;

            background: $white;
            background-image: url('../images/arrow-search.svg');
            background-position: center right;
            background-repeat: no-repeat;
            border: none;

            cursor: pointer;

            transform: translateX(0);
            transition: transform 250ms ease;

            &:hover {
                transform: translateX(2px);
            }
        }
    }

    // The list printed via wp_menu_item
    .navbar-list {
        li {
            margin-bottom: 5px;

            a {
                font-size: 25px;
                line-height: 33px;

                &::before {
                    height: 2px;
                }
            }
        }
    }

    @include mq($min-width: $navBreak) {
        display: none;
    }
}

.home-logo {
    max-height: 30px;

    @include mq($min-width: $navBreak) {
        max-height: 40px;
    }
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1200;

    display: flex;

    width: 100%;

    padding: 12px 20px;

    background: $white;

    border-bottom: 1px solid $borderColor;

    @include mq($min-width: $navBreak) {
        padding: 21px 40px 19px 40px;
        border-bottom: 1px solid $borderColor;
    }

    &__logo {
        a {
            font-family: $headingFont;
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
            color: $primaryGrey;
            text-decoration: none;

            span {
                display: block;
                font-size: 14px;
            }
        }

        @include mq($min-width: $navBreak) {
            a {
                font-size: 25px;
                line-height: 25px;

                span {
                    display: block;
                    font-size: 16px;
                }
            }
        }
    }

    &__toggle {
        position: absolute;
        top: 5px;
        right: 0;

        width: 44px;
        height: 46px;

        padding-top: 14px;

        // outline: 1px solid red;

        span {
            display: block;
            width: 24px;
            height: 2px;

            margin-bottom: 6px;

            background: $green;
            border-radius: 0.125rem;
        }

        @include mq($min-width: $navBreak) {
            display: none;
        }

        &.close-state {
            background: orange;
        }
    }

    &__nav {
        display: none;

        @include mq($min-width: $navBreak) {
            position: relative;
            top: 6px;

            display: flex;
            justify-content: flex-end;
            flex: 1;
            width: 100%;

            padding: 0;
            padding-right: 70px;

            text-align: right;
        }
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 20px;

                @include mq($min-width: $navBreak) {
                    display: inline-block;
                    margin-bottom: 0;
                    margin-left: 20px;

                    &:first-child {
                        margin-left: 10px;
                    }
                }

                @include mq($min-width: $xlBreak) {
                    margin-left: 30px;

                    &:first-child {
                        margin-left: 10px;
                    }
                }

                @include mq($min-width: 1650px) {
                    margin-left: 60px;

                    &:first-child {
                        margin-left: 10px;
                    }
                }

                a {
                    position: relative;

                    font-size: 14px;
                    font-weight: normal;
                    color: $navLinkColor;
                    text-decoration: none;

                    @include mq($min-width: $xlBreak) {
                        font-size: 18px;
                    }

                    @include mq($min-width: 1650px) {
                        font-size: 20px;
                    }

                    transition: all 250ms ease;

                    &::before {
                        position: absolute;
                        bottom: 0;
                        left: 0;

                        width: 0;
                        height: 2px;

                        background: $borderColor;

                        content: '';

                        transition: all 250ms ease;
                    }

                    &:hover {
                        opacity: 0.7;

                        &::before {
                          width: 100%;
                        }
                    }
                }

                &.current-menu-item a, 
                &.current_page_item a {
                    opacity: 0.7;

                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__search-form {
        position: absolute;
        top: 2px;
        right: 0;
        
        display: flex;
        //background: red;
        
        padding-left: 6px;

        width: 40px;
        overflow: hidden;

        transition: width 250ms ease;

        @include mq($min-width: $xlBreak) {
            top: -1px;
        }

        &.visible {
            width: 350px;

            form {
                opacity: 1;
            }
        }
    
        &--btn {
            position: absolute;
            top: 2px;

            display: block;
            width: 30px;
            height: 26px;
            z-index: 900;


            // outline: 1px solid red;
            color: $white;
            font-size: 1px;

            background: $white;
            background-image: url('../images/icon-search-2.svg');
            background-position: top left;
            background-repeat: no-repeat;
            
            overflow: hidden;
        }

        &--form {
            position: relative;
            z-index: 800;

            padding-left: 30px;

            opacity: 0;

            transition: opacity 250ms ease;

            input[type="text"] {
                max-width: 310px;
                
                margin-right: auto;

                padding-right: 10px;

                font-size: 20px;
                color: $fontColor;

                background: $white;

                border: none;
                border-bottom: 2px solid $green;

                &::placeholder {
                    color: $formPlaceholderColor;
                }

                &:focus {
                    outline: none;
                }
            }

            input[type="submit"] {
                position: absolute;
                top: 0;
                right: -4px;

                width: 30px;
                height: 28px;

                margin: 0;

                font-size: 1px;
                color: transparent;

                background: $white;
                background-image: url('../images/arrow-search.svg');
                background-position: center center;
                background-repeat: no-repeat;
                border: none;

                cursor: pointer;

                transform: translateX(0);
                transition: transform 250ms ease;

                &:hover {
                    transform: translateX(2px);
                }
            }
        }
    }
}



// Translation Dropdown
.navbar-list .wpml-ls-item {
    position: relative;
    padding: 0 4px;

    @include mq($min-width: $navBreak) {
        margin-left: 10px;
    }

    @include mq($min-width: $xlBreak) {
        margin-left: 10px;
    }

    /* TEXT */
    // padding-right: 30px;
    padding: 0;

    &.wpml-ls-current-language {
        opacity: 0.7;
    }

    &.wpml-ls-first-item {
        position: relative;
        
        margin-top: 24px;

        @include mq($min-width: $navBreak) {
            margin-left: 20px;
        }

        @include mq($min-width: 1650px) {
            margin-left: 40px;
        }

        &::before {
            position: absolute;
            top: -10px;
            left: 0;

            display: block;

            width: 100%;
            height: 1px;

            background: $borderColor;

            content: '';
        }

        @include mq($min-width: $navBreak) {
            margin-top: 0;
            padding-left: 16px;

            &::before {
                top: 2px;
                left: -7px;
                width: 1px;
                height:100%;
            }
        }

        @include mq($min-width: 1650px) {
            &::before {
                left: -15px;
            }
        }
    }

    /* TEXT */
    .sub-menu {
        position: absolute;
        top: 0;
        right: -30px;

        /* DROP DOWN
        position: absolute;
        left: 0;
        bottom: -100%;
        width: 100%;
        z-index: 2000;  

        background: $white;

        display: none;

        &.active {
            display: block;
        }

        */

        li {
            margin-left: 0;
            width: 100%;
        }
    }
}

// Translation mobile
.navbar-drawer .wpml-ls-item {
    .sub-menu {
        position: relative;
        left: 0;
        bottom: initial;

        display: inline-block;
        width: 50px;

        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding-left: 10px;
        }

        &.active {
            display: inline-block !important;
        }
    }
}

.dropdown-container {
    max-width: 800px;

    padding: 0 20px;
    margin: 0;
}

.container {
    max-width: 800px;

    padding: 0 20px;
    margin: 0 auto;
}



.grid {
    &__container {
        // margin-top: 80px;
        padding: 0 10px;

        max-width: $gridContainer;
        min-height: calc(100vh - 155px);

        // margin-top: 78px;

        @include mq($min-width: $gridBreakSm) {
            display: flex;
            flex-wrap: wrap;
        }

        @include mq($min-width: $gridBreakLg) {
            padding: 0 30px;
        }

        @include mq($min-width: 1450px) {
            padding: 0 20px;
        }

        @include mq($min-width: $navBreak) {
            // margin-top: 123px;
            min-height: calc(100vh - 186px);
        }

        &--aligned {
            padding: 0 20px;
        }
    }

    &__load-more {
        padding: 20px 0 40px 0;
        text-align: center;

        @include mq($min-width: $gridBreakLg) {
            padding-bottom: 60px;
        }

        &.hidden {
            display: none;
        }
    }

    &__header {
        padding: 40px 0;

        @include mq($min-width: $gridBreakLg) {
            padding: 40px 20px;
        }
        // outline: 1px solid red;

        &--cat {
            display: none;

            &.visible {
                display: block;
            }
        }
    }
}

.grid {
    &__item {
        width: 100%;

        padding: 0 10px;

        @include mq($min-width: $gridBreakSm ) {
            width: 50%;
        }

        @include mq($min-width: $gridBreakMd) {
            width: 33%;
        }

        @include mq($min-width: $gridBreakLg) {
            width: 25%;
        }

        @include mq($min-width: $gridBreakXl) {
            width: 20%;
        }

        @include mq($min-width: 1450px) {
            // width: 20%;
            padding: 0 20px;
        }
    }
}

// Categort Button
.grid-cat-header {
    margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;

    color: $black;

    @include mq($min-width: $navBreak) {
        font-size: 22px;
        line-height: 22px;
    }
}

.btn-grid-clear {
    color: $green;
    font-size: 16px;
    line-height: 16px;

    font-weight: 700;
    cursor: pointer;

    @include mq($min-width: $navBreak) {
        font-size: 18px;
        line-height: 18px;
    }

    &:hover {
        text-decoration: underline;
    }

    &.extra-space {
        margin-left: 20px;
    }
}

.btn-grid-sort {
    color: $green;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 700;

    /* display: inline-block;
    border: 2px solid $green;
    padding: 5px 10px;
    transition: all 250ms ease; */

    @include mq($min-width: $navBreak) {
        padding: 20px 0;

        font-size: 22px;
        line-height: 22px;
    }

    &:hover {
        /* color: $white;
        background: $green; */
        text-decoration: underline;
    }
}

.loading-screen {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    
    height: 100px;

    display: none;

    background: $white;

    // transform: translateY(-50%);

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;

        display: block;

        width: 100px;
        height: 100px;

        background-image: url('../images/spinner-2.gif');
        background-position: center;
        background-size: contain;

        transform: translate(-50%, -50%);

        content: '';

        @include mq($min-width: $navBreak) {
            width: 120px;
        height: 120px;
        }
    }

    @include mq($min-width: $navBreak) {
        height: 120px;
    }
    
    &.visible {
        display: block;
    }
}

// Category Modal
.cat-modal {
    .mfp-close {
        position: fixed;
        top: 93px;
        right: 10px;

        color: $green;
        opacity: 1;
        font-size: 30px;

        @include mq($min-width: $navBreak) {
            top: 122px;
            right: 38px;

            font-size: 40px;
        }
    }

    .mfp-container {
        padding: $navOffsetSm 20px;

        @include mq($min-width: $navBreak) {
            padding: $navOffsetLg 20px;
        }
    }

    .mfp-content {
        padding: 0;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.cat-nav {
    padding: 40px 0 40px 0;

    // padding-bottom: $navOffsetSm;
    @include mq($min-width: $navBreak) {
        padding: 40px 0 80px 0;
    }

    &__item {
        display: block;

        margin-bottom: 60px;
        padding: 0 20px;

        font-size: 4vw;
        line-height: 5vw;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;

        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;

        @include mq($min-width: $mdBreak) {
            margin-bottom: 80px;
        }

        @include mq($min-width: $navBreak) {
            margin-bottom: 100px;

            padding: 0 40px;
        }

        @include mq($min-width: $xlBreak) {
            margin-bottom: 140px;

            padding: 0;

            font-size: 68px;
            line-height: 71px;
        }

        &:last-child() {
            margin-bottom: 0;
        }   
    }
}


.mfp-bg.cat-modal {
    background: $white;
    // opacity: 1;
}

.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 1;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

/* ************************
 * ORIGINAL CARD
 * ************************
.grid-card {
    position: relative;
    margin-bottom: 20px;

    perspective: 1000px;

    @include mq($min-width: $gridBreakMd) {
        margin-bottom: 40px;
    }

    &:hover,
    &.hover {
        .grid-card__inner {
            transform: rotateY(180deg);
        }
    }

    &__inner {
        position: relative;
        transition: 0.75s;
        transform-style: preserve-3d;
        height: 100%;

        &--front,
        &--back {
            -webkit-backface-visibility: hidden;
               -moz-backface-visibility: hidden;
                    backface-visibility: hidden;

            border-radius: 15px;
            overflow: hidden;

            &.grey {
                background: $greyCardBG;

                .grid-card__content--back {
                    background: $greyCardBG;
                }

                .grid-card__headline {
                    color: $greyCardText;
                }

                .grid-card__prompt {
                    border-top: 1px solid $greyCardText;
                }

                p, li {
                    color: $greyCardText;
                }
            }
        }

        &--front {
            position: relative;
            z-index: 2;
            
            transform: rotateY(0deg);
            height: 0;
            padding-top: 150%;

            background: $cardBG;

            img {
                position: absolute;
                top: 50%;
                left: 15px;
                width: calc(100% - 30px);

                transform: translateY(-50%);
            }

            &.grey {
                .grid-card__headline {
                    position: absolute;
                    top: 20px;
                    left: 20px;

                    max-width: calc(100% - 40px);
                }
            }
        }

        &--back {
            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 100%;
            height: 100%;

            background: $cardBG;

            transform: rotateY(180deg);
        }
    }

    &__headline {
        margin-top: 0;
        color: $primaryGrey;
        font-size: 36px;
        line-height: 46px;

        font-size: 10vw;
        line-height: 12vw;

        @include mq($min-width: $gridBreakSm ) {
            font-size: 4.6vw;
            line-height: 5.4vw;
        }

        @include mq($min-width: $gridBreakMd) {
            font-size: 2.6vw;
            line-height: 3vw;
        }

        @include mq($min-width: $gridBreakLg) {
            font-size: 2vw;
            line-height: 2.6vw;
        }

        @include mq($min-width: $gridBreakXl) {
            font-size: 30px;
            line-heightight:34px;
        }
    }

    &__content {
        padding: 10px 10px;
        text-align: center;

        @include mq($min-width: $mdBreak) {
            padding: 15px;
        }

        &--front {
            @extend .grid-card__content;
            position: relative;

            padding: 40px 10px 20px 10px;

            @include mq($min-width: 370px) {
                padding: 20px 10px;
            }

            &::before {
                position: absolute;
                top: -20px;
                left: 0;
                z-index: 5;

                display: block;

                width: 100%;
                height: 18px;

                background-image: linear-gradient(180deg, rgba(238,238,238,0.00) 0%, #FFFFFF 100%);

                content: '';
            }
        }

        &--back {
            @extend .grid-card__content;
            height: 100%;
            padding: 20px;
            // background: red;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            overflow: scroll;

            text-align: left;

            background: $cardBG;

            h2 {
                margin-top: 0;
                color: $primaryGrey;
                font-size: 36px;
                line-height: 46px;

                font-size: 10vw;
                line-height: 12vw;
            }

            .grid-card__prompt {
                border-top: 1px solid $primaryGrey;
                padding-top: 8px;
            }

            ul {
                padding: 0 20px 0 26px;
            }

            p,
            li { 
                margin: 0 0 20px 0;
                color: $primaryGrey;

                font-size: 17px;
                line-height: 20px;  

                font-size: 4.5vw;   
                line-height: 5.4vw;          
            }

            li {
                margin-bottom: 10px;
            }

            .btn {
                display: block;
                max-width: 120px;
                margin: 40px auto 0 auto;
                padding: 8px 15px;
                color: $primaryGrey;
                font-family: $headingFont;
                font-size: 10px;
                text-decoration: none;
                border: 1px solid $primaryGrey;

                &.light {
                    color: $greyCardText;
                    border-color: $greyCardText;
                }
            }

            @include mq($min-width: $gridBreakSm ) {
                // Font Sizes
                h2 {
                    font-size: 4.6vw;
                    line-height: 5.4vw;
                }

                p, li {
                    font-size: 2.2vw;
                    line-height: 2.8vw;
                }

                .btn {
                    margin-top: 20px;
                }
            }

            @include mq($min-width: $gridBreakMd) {
                // Font Sizes
                h2 {
                    font-size: 2.6vw;
                    line-height: 3vw;
                }

                p, li {
                    font-size: 1.6vw;
                    line-height: 2.2vw;
                }
            }

            @include mq($min-width: $gridBreakLg) {
                // Font Sizes
                h2 {
                    font-size: 2vw;
                    line-height: 2.6vw;
                }

                p, li {
                    font-size: 1vw;
                    line-height: 1.4vw;
                }
            }

            @include mq($min-width: $lgBreak) {
                // Font Sizes
                .btn {
                    margin-top: 40px;
                    transition: all 250ms ease;

                    &:hover {
                        color: $white;
                        background: $primaryGrey;
                    }

                    &.light {
                        &:hover {
                            color: $greyCardBG;
                            background: $greyCardText;
                        }
                    }
                }
            }

            @include mq($min-width: $gridBreakXl) {
                h2 {
                    font-size: 30px;
                    line-height:34px;
                }

                p, li {
                    font-size: 14px;
                    line-height: 17px;
                }

                .btn {
                    margin-top: 40px;
                }
            }
        }
    }
}
 * ************************
 *  ^^ END ORIGINAL CARD ^^
 * ************************* */

// NEW CARD
.grid-card {
    position: relative;
    margin-bottom: 20px;

    perspective: 1000px;

    @include mq($min-width: $gridBreakMd) {
        margin-bottom: 40px;
    }

    &:hover,
    &.hover {
        .grid-card__inner {
            transform: rotateY(180deg);
        }
    }

    &__color-strip {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;

        display: block;

        width: 100%;
        height: 20px;

        @include mq($min-width: $gridBreakLg) {
            height: 30px;
        }

        
        @include mq($min-width: $gridBreakXl) {
            height: 40px;
        }
    }

    &__prompt {
        padding-top: 20px;
    }

    &__inner {
        position: relative;
        transition: 0.75s;
        transform-style: preserve-3d;
        height: 100%;

        &--front,
        &--back {
            -webkit-backface-visibility: hidden;
               -moz-backface-visibility: hidden;
                    backface-visibility: hidden;

            border-radius: 20px;
            overflow: hidden;

            @include mq($min-width: $gridBreakLg) {
                border-radius: 30px;
            }

            &.grey {
                background: $greyCardBG;

                .grid-card__content--back {
                    background: $greyCardBG;
                }

                .grid-card__headline {
                    color: $greyCardText;
                }

                .grid-card__prompt {
                    border-top: 1px solid $greyCardText;
                }

                p, li {
                    color: $greyCardText;
                }
            }

            &.green {
                background: $green;

                .grid-card__headline {
                    color: $white;
                }

                .grid-card__content--back {
                    // background: $green;
                    .grid-card__headline {
                        color: $black;
                    }
                }

                .grid-card__prompt {
                    border-top: 1px solid $black;
                }

                p, li {
                    // color: $black;
                }
            }
        }

        &--front {
            position: relative;

            z-index: 2;
            /* for firefox 31 */
            transform: rotateY(0deg);
            height: 0;
            padding-top: 125%;

            // background: #ddd;
            // background: #EBEAE5;
            background: #E7E6E0;

            img {
                display: block;
                position: absolute;
                top: 50%;
                left: 0;

                width: 100%;

                transform: translateY(-50%);

                @include mq($min-width: $gridBreakLg) {
                    // top: 30px;
                }

                @include mq($min-width: $gridBreakXl) {
                    // top: 40px;
                }
            }

            &.grey {
                .grid-card__headline {
                    position: absolute;
                    top: 20px;
                    left: 20px;

                    max-width: calc(100% - 40px);
                }
            }

            &.green {
                .grid-card__headline {
                    position: absolute;
                    top: 20px;
                    left: 20px;

                    max-width: calc(100% - 40px);
                }
            }
        }

        &--back {
            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 100%;
            height: 100%;

            background: $cardBG;

            transform: rotateY(180deg);

            &.green {
                background: $white;
                border: 8px solid $green;

                @include mq($min-width: $gridBreakMd) {
                /// padding: 13px;
                    border: 13px solid $green;
                }
            }
        }
    }

    /*
    &__headline {
        margin-top: 0;
        color: $primaryGrey;
        font-size: 36px;
        line-height: 46px;

        font-size: 10vw;
        line-height: 12vw;

        @include mq($min-width: $gridBreakSm ) {
            font-size: 4.6vw;
            line-height: 5.4vw;
        }

        @include mq($min-width: $gridBreakMd) {
            font-size: 2.6vw;
            line-height: 3vw;
        }

        @include mq($min-width: $gridBreakLg) {
            font-size: 2vw;
            line-height: 2.6vw;
        }

        @include mq($min-width: $gridBreakXl) {
            font-size: 30px;
            line-heightight:34px;
        }
    }
    */

    &__content {
        padding: 10px 10px;
        text-align: center;

        @include mq($min-width: $mdBreak) {
            padding: 15px;
        }

        &--front {
            @extend .grid-card__content;
            position: relative;

            padding: 40px 10px 20px 10px;

            @include mq($min-width: 370px) {
                padding: 20px 10px;
            }

            &::before {
                position: absolute;
                top: -20px;
                left: 0;
                z-index: 5;

                display: block;

                width: 100%;
                height: 18px;

                background-image: linear-gradient(180deg, rgba(238,238,238,0.00) 0%, #FFFFFF 100%);

                content: '';
            }
        }

        &--wrapper {
            background:$cardBG;

            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            padding: 10px;

            overflow: scroll;

            border-radius: 15px;

            @include mq($min-width: $gridBreakLg) {
                border-radius: 20px;
                padding: 30px 10px;
            }
        }

        &--back {
            @extend .grid-card__content;
            height: 100%;
            padding: 8px;

            text-align: left;

            // display: flex;
            // flex-direction: column;
            // justify-content: center;

            @include mq($min-width: $gridBreakMd) {
                padding: 13px;
            }

            h2 {
                margin-top: 0;
                color: $primaryGrey;
                font-size: 36px;
                line-height: 46px;

                font-size: 6vw;
                line-height: 7vw;

                text-align: center;
                text-transform: uppercase;
            }

            .grid-card__prompt {
                margin-top: 30px;
                // border-top: 1px solid $primaryGrey;
                // padding-top: 8px;
            }

            ul {
                margin: 20px 0 0 0;
                padding: 0 20px 0 15px;
            }

            p,
            li { 
                margin: 0 0 20px 0;
                color: $black;

                font-size: 15px;
                line-height: 20px;  

                // max-width: 80%;
                margin: 0 auto;

                font-size: 3.8vw;   
                line-height: 4vw;          
            }

            li {
                margin-bottom: 10px;
            }

            .btn {
                display: block;
                max-width: 120px;
                margin: 40px auto 0 auto;
                padding: 8px 15px;
                color: $primaryGrey;
                font-family: $headingFont;
                font-size: 10px;
                text-decoration: none;
                border: 1px solid $primaryGrey;

                &.light {
                    color: $greyCardText;
                    border-color: $greyCardText;
                }

                &.lg {
                    max-width: 180px;
                }
            }

            @include mq($min-width: $gridBreakSm ) {
                &.special {

                    overflow-y: auto;

                    /*
                    display:flex;
                    flex-direction: column;
                    justify-content:center;
                    align-items:center;
                    */

                    > div {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                    /*
                    background: red;

                    >div {
                        // padding-top: 50px;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    */
                    
                    // display: flex;
                    // flex-direction: column;
                    // justify-content: safe center;
                

                   
                }
                // Font Sizes
                h2 {
                    font-size: 3.8vw;
                    line-height: 4vw;
                }

                p, li {
                    font-size: 2vw;
                    line-height: 2.2vw;
                }

                .btn {
                    margin-top: 20px;
                }
            }

            @include mq($min-width: $gridBreakMd) {

                &.special {
                    // adds extra padding for how-to card
                    padding: 0 30px;
                }

                // Font Sizes
                h2 {
                    font-size: 2.2vw;
                    line-height: 2.4vw;
                }

                p, li {
                    font-size: 1.2vw;
                    line-height: 1.4vw;
                }
            }

            @include mq($min-width: $gridBreakLg) {
                // padding: 0 30px;
                // Font Sizes
                h2 {
                    font-size: 1.8vw;
                    line-height: 2vw;
                    
                }

                p, li {
                    font-size: 0.9vw;
                    line-height: 1.1vw;
                }
            }

            @include mq($min-width: $lgBreak) {
                // Font Sizes
                .btn {
                    margin-top: 20px;
                    transition: all 250ms ease;

                    &:hover {
                        color: $white;
                        background: $primaryGrey;
                    }

                    &.light {
                        &:hover {
                            color: $greyCardBG;
                            background: $greyCardText;
                        }
                    }
                }
            }

            @include mq($min-width: $gridBreakXl) {
                h2 {
                    font-size: 30px;
                    line-height:32px;

                }

                p, li {
                    font-size: 16px;
                    line-height: 18px;
                }

                .btn,
                .grid-card__prompt {
                    margin-top: 20px;
                }
            }
        }
    }
}



.prompt {
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 50%;

        display: none;

        width: 1px;
        height: 100%;

        background: $green;

        content: '';

        @include mq($min-width: $mdBreak) {
            display: block;
        }
    }

    @include mq($min-width: $mdBreak) {
        display: flex;
        flex-direction: row;
    }

    &__title {
        margin: 0 0 20px 0;
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
        color: $primaryGrey;
        text-transform: uppercase;

        @include mq($min-width: $lgBreak) {
            font-size: 42px;
            line-height: 42px;
        }

        @include mq($min-width: $xlBreak) {
            font-size: 58px;
            line-height: 58px;
        }
    }

    &__textarea {
        margin-top: 30px;
        margin-bottom: 40px;
        padding-top: 10px;
        // border-top: 1px solid $primaryGrey;

        // Prompt
        span.prompt-by {
            font-size: 12px;
            font-family: $headingFont;
            font-weight: normal;
        }

        @include mq($min-width: $mdBreak) {
            margin-top: 120px;
        }  

        @include mq($min-width: $lgBreak) {
            margin-top: 140px;

            p {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }

    &__image,
    &__content {
        @include mq($min-width: $mdBreak) {
            width: 50%;
            // min-height: calc(100vh - 57px);
        }
    }

    &__image {
        position: relative;

        // min-height: calc(100vh - 57px);

        padding: 20px 20px;
        
        background: $white;

        @include mq($min-width: $mdBreak) {
            position: fixed;
            top: 57px;
            left: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-left: 1px solid $borderColor;

            height: calc(100vh - 57px);
            // min-height: 650px;

            // background: blue;
        }

        @include mq($min-width: $navBreak) {
            top: 83px;
            height: calc(100vh - 83px);
        }

        // Need to match the caption breakpoint for maxheight as well.
        @include mq($max-height: $promptMaxHeight, $min-width: $mdBreak) {
            position: absolute;
            top: 0;
            height: calc(100% + 1px);
            border-bottom: 1px solid $green;
        }

        &--nav-arrows {
            display: block;

            width: 30px;
            height: 30px;

            content: '';

            background-image: url('../images/arrow-prompt.svg');
            background-repeat: no-repeat;
            background-position: center left;
        }

        &--caption {
            padding: 0;
            margin-top: 20px;

            text-align: center;

            display: flex;

            @include mq($min-width: $mdBreak) {
                position: absolute;
                bottom: 20px;
                left: 0;
                width: 100%;

                padding: 0 20px;
                margin-top: 0;
            }

            @include mq($max-height: $promptMaxHeight, $min-width: $mdBreak) {
                height: 50px;
            }

            div.arrow {
                width: 30px;
                // outline: 1px solid red;

                a {
                    display: block;
                    width: 30px;
                    height: 30px;

                    // background: blue;

                    overflow: hidden;

                    background-image: url('../images/arrow-prompt.svg');
                    background-repeat: no-repeat;
                    background-position: center left;
                    color: transparent;
                    font-size: 1px;

                    @include mq($min-width: $mdBreak) {
                        background-image: url('../images/arrow-prompt-lg.svg');
                    }
                }

                &.next {
                    a {
                        transform: rotate(180deg);
                    }
                }
            }

            div.text {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            p {
                margin: 0;
                font-family: $headingFont;
                font-weight: normal;
                font-size: 12px;
                color: $primaryGrey;

                a {
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            // Needs to match max-height breakpoint of the parent (declared below)
            @include mq($max-height: $promptMaxHeight, $min-width: $mdBreak) {
                position: relative;
                bottom: 0;

                // height: 30px;

                padding-top: 20px;
                
                div.arrow {
                    position: absolute;
                    bottom: 0;

                    display: block;

                    &.next {
                        right: 0;
                    }
                }
            }
        }
    }

    &__content{
        padding: 40px 20px 40px 20px;

        min-height: 85vh;

        // background: $cardBG;
        background: $white;

        &--container {
            @include mq($min-width: $mdBreak) {
                position: relative;
                height: 100%;
                display: flex;
                flex-direction: column;

                .top {
                    // min-height: calc(100vh - 66px);
                    padding-top: 20px;
                    padding-bottom: 60px;
                    position: relative;
                    height: 100%;
                }
            }

            @include mq($min-width: $navBreak) { 
                padding: 0 20px;

                .top {
                    // padding-top: 0;
                }
            }

            @include mq($min-width: $lgBreak) { 
                .top {
                    padding-top: 30px;
                    max-width: 720px;
                    margin: 0;
                    // padding-top: 120px;
                }

                margin: 0;
            }
        }

        @include mq($min-width: $mdBreak) {
            padding: 80px 20px 30px 20px;
            min-height: calc(100vh - 57px);
        }

        @include mq($min-width: $lgBreak) {
            min-height: calc(100vh - 83px);
        }
    }

    &__card {
        position: relative;
        max-height: 100%;
        cursor: zoom-in;
        transition: box-shadow 250ms ease, transform 250ms ease;

        &.vertical {
            @include mq($min-width: $mdBreak) {
                display: block;
                height: 100%;
            }
        }

        &--wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            max-width: 500px;
            max-height: calc(100% - 80px);

            margin: 0 auto;

            @include mq($max-height: $promptMaxHeight, $min-width: $mdBreak) {
                max-height: calc(100% - 57px);
            }

            &.horizontal {
                max-width: 600px;

                min-height: 80vh;

                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            &.vertical {
                img {
                    @include mq($min-width: $mdBreak) {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;

                        // opacity: 0.4;

                        max-height: 100%;
                        max-width: 100%;
                        width: auto;
                        height: auto;

                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        &:hover {
            transform: translate(-1px, -1px);
            // box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.1);
        }
    }

    /* ORIGINAL
    &__card {
        margin: 0;

        cursor: zoom-in;

        &--wrapper {
            width: 100%;
            max-width: 380px;
            max-height: 100%;

            margin: 0 auto;

            &.horizontal {
                max-width: 600px;

                min-height: 80vh;

                display: flex;
                justify-content: center;
                flex-direction: column;
            }
        }

        position: relative;

        background: $cardBG;
        border-radius: 15px;
        height: 0;

        padding: 30px 20px;
        padding-top: 150%;

        transition: box-shadow 250ms ease, transform 250ms ease;

        // Box Shadow for behind card:
        // box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.1);

        img {
            position: absolute;
            top: 50%;
            left: 15px;
            width: calc(100% - 30px);

            transform: translateY(-50%);
        }

        &.horizontal {
            padding-top: 58%;

            img {
                top: 50%;
                left: 50%;
                width: auto;
                height: calc(100% - 30px);

                transform: translateY(-50%) translateX(-50%);
            }
        }

        @include mq($min-width: $mdBreak) {
            max-height: 100%;
        }

        &:hover {
            transform: translate(-1px, -1px);
            box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.1);
        }

        &:active {
            transform: translate(1px, 1px);
            // box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.1);
        }
    }

    */

    &__meta {
        // margin-top: 60px;
        padding-top: 20px;

        font-size: 12px;

        border-top: 1px solid $borderColor;

        @include mq($min-width: $mdBreak) {
            display: flex;

            // margin-top: 80px;
            padding-top: 0;
            border-top: none;

            &--left,
            &--right {
                
                flex: 1;
            }

            &--left {
                padding-right: 10px;
            }

            &--right {
                padding-left: 10px;
                text-align: right;
            }
        }
    }

    &__tags {
        margin-top: 10px;

        @include mq($min-width: $mdBreak) {
            margin-top: 0;
        }

        a {
            transition: color 250ms ease;

            &:hover {
                color: $green;
            }
        }
    }
}

.prompt-by {
    font-family: $headingFont;

    a {
        text-decoration: underline;

        &:hover {
            color: $green;
        }
    }
}

body.single-card {
    // position: relative;
    background: $white;
    
    @include mq($min-width: $mdBreak) {
        // background: linear-gradient(90deg, rgba(255,255,255,1) 50%, $greyBG 50%);
    }
}

// Init visibility on scrollreveal items
html.sr { 
    .grid-card {
        // visibility: hidden;
    }
}


/* *************************
 * Page Modules
 * ************************* */
.page {
    &__section {
        padding: 80px 0 40px 0;
        min-height: calc(100vh - 46px);

        @include mq($min-width: $mdBreak) {
            padding: 120px 0 100px 0;
        }

        &.grey {
            background: $cardBG;
        }

        &.black {
            background: $greyBG;

            // h1, h2, h3, h4, h5, h6, p, ul, li {}
            color: $cardBG;

            .page__text {
                border-top-color: $cardBG;
            }
        }
    }

    &__headline {
        margin: 0 0 20px 0;
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        
        @include mq($min-width: $smBreak) {
            font-size: 46px;
        }
        @include mq($min-width: $lgBreak) {
            font-size: 58px;
        }
        
        @include mq($min-width: $xlBreak) {
            font-size: 68px;
        }
    }

    &__text {
        margin-top: 100px;
        padding-top: 10px;
        border-top: 1px solid $primaryGrey;

        @include mq($min-width: $mdBreak) {
            margin-top: 120px;
        }

        &.no-border {
            border-top: none;
        }

        &.center {
            text-align: center;
        }

        ul {
            padding-left: 30px;

            @include mq($min-width: $lgBreak) {
                padding-left: 50px;
            }

            li {
                margin-bottom: 10px;

                @include mq($min-width: $lgBreak) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// Split page template
.split-page {
    @include mq($min-width: $mdBreak) {
        display: flex;

        &__left,
        &__right {
            width: 50%;
            
        }
    }   

    &__left {
        padding: 60px 0 40px 0;

        h2 {
            text-align: left;   
            font-weight: 700;
            text-transform: uppercase;         
        }

        @include mq($min-width: $mdBreak) {
            padding: 60px 0 80px 0;
            min-height: calc(100vh - 57px);
        }

        @include mq($min-width: $navBreak) {
            min-height: calc(100vh - 83px);
            padding: 60px 20px 80px 20px;
        }

        @include mq($min-width: $lgBreak) {
            padding: 80px 20px 80px 20px;
        }
    }

    &__right {
        img {
            display: block;
            width: 100%;
            height: auto;
        }

        @include mq($min-width: $mdBreak) {
            position: fixed;
            top: 57px;
            left: 50%;
            
            min-height: calc(100vh - 57px);

            background-repeat: no-repeat !important;
            background-position: center center !important;
            background-size: cover !important;

            border-left: 1px solid $borderColor;

            img {
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
                // display: none;

                max-width: 80%;
                width: auto;
                height: auto;
                max-height: calc(100% - 40px);
            }
        }

        @include mq($min-width: $navBreak) {
            top: 83px;
            min-height: calc(100vh - 83px);
        }

        @include mq($min-width: $lgBreak) {
            img {
                max-height: calc(100% - 80px);
            }
        }
    }

    &__content {
        margin-top: 20px;
        padding-top: 12px;
        // border-top: 1px solid $borderColor;

        &.collapsed {
            margin-top: 40px;
        }

        @include mq($min-width: $mdBreak) {
            margin-top: 40px;

            &.collapsed {
                margin-top: 60px;
            }
        }

        @include mq($min-width: $lgBreak) {
            margin-top: 40px;
            max-width: 820px;

            &.collapsed {
                margin-top: 100px;
            }
        }


        ul {
            padding-left: 30px;

            @include mq($min-width: $lgBreak) {
                padding-left: 50px;
            }
        }

    }
}

// Dark Theme for split template
main.dark {
    background: $greyBG;

    h1, h2, h3, h4, h5, h6, p, li {
        color: $cardBG;
    }

    .split-page__content {
        border-top: 1px solid $cardBG;
    }

    .split-page__right {
        @include mq($min-width: $mdBreak) {
            background: $greyBG;
            border-left: 1px solid $cardBG;
        }
    }
}



// Submission

// Override prompt line 
.wpcf7-form span.prompt::before {
    display: none;
}

.page-submission {
    &__left,
    &__right {
        padding: 40px 0;
    }

    &__left {
        
    }

    @include mq($min-width: $mdBreak) {
        display: flex;

        &__left,
        &__right {
            padding: 80px 0;
            width: 50%;
            min-height: calc(100vh - 44px);
        }
    }

    &__left {

        padding-bottom: 0;

        .page__headline {
            text-align: left;
        }

        @include mq($min-width: $mdBreak) {
            padding-bottom: 40px;
        }

        @include mq($min-width: $lgBreak) {
            padding-top: 120px;
        }
    }

    &__right {
        padding-top: 20px;

        @include mq($min-width: $mdBreak) {
            position: relative;
            z-index: 10;
            background: $white;
            padding-top: 40px;
            border-left: 1px solid $primaryGrey;
        }
    }
}

.submit-form-wrapper {
    margin-top: 20px;

    @include mq($min-width: $mdBreak) {
        margin-top: 40px;
    }

    form {
        // outline: 1px solid red;
        // max-width: 560px;
        margin: 0 auto;

        input[type="text"],
        input[type="email"],
        textarea {
            padding: 8px 5px;
            margin-top: 4px;
            display: block;
            width: 100%;
            max-width: 100%;
            font-size: 16px;
            font-family: $bodyFont;
            font-weight: 300;
            color: $primaryGrey;

            border: 1px solid $primaryGrey;
            border-radius: 0;
        }

        label {
            font-family: $headingFont;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
        }

        input[type="submit"] {
            @extend .btn;
            background: transparent;
            border-radius:0;
            font-size: 16px;

            padding: 12px 20px;
            min-width: 130px;
        }

        p {
            font-size: 12px;
            line-height: 16px;
        }
    }
}


// Custom File Upload styles
$background: #e74c3c;
$file-upload-color: #c0392b;
$file-upload-size: 300px;

.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    // margin-bottom: 40px;

    display: flex;

    label {
        display: block;
        margin-bottom: 5px;
    }

    .cardimagery {
        display: block;

        width: 100%;
    }
}

.file-upload-wrapper {
    position: relative; 

    display: flex;

    width: 100%;

    
    //border: 1px solid #ccc;
}

.file-upload-input {
    color: #fff;
    font-size: 16px;
    padding: 11px 17px; 
    border: none;

    background: $white;
    
    flex: 1;

    width: 100%;
    display: block;

    border: none !important;
    padding-bottom: 12px !important;
    margin-left: 10px;
    font-weight: 100;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;

    &:hover, &:focus { 
        
        outline: none; 
    }
}

.file-upload-button {
    display: inline-block; 

    padding: 11px 20px; 
    // margin-left: -1px;  

    cursor: pointer; 

    color: $greyBG;

    font-family: $headingFont;
    font-size: 16px;

    border: 1px solid $greyBG;

    padding: 12px 12px;
    background: transparent;

    transition: all 250ms ease;

    min-width: 130px;
    
    
    &:hover {
        background: $greyBG;
        color: $cardBG;
    }
}

// Validation styles
.wpcf7-not-valid-tip {
    display: block !important;
    padding-top: 5px !important;

    font-family: $bodyFont;
    font-size: 12px  !important;
    font-weight: 300 !important;
}

.wpcf7-response-output {
    padding: 10px 5px !important;
    margin: 30px 0 !important;

    text-align: center;
}

.ajax-loader {
    // display: none !important;
    background-image: url('../images/spinner-02.gif') !important; 
    // visibility: visible !important;
    // outline: 1px solid red;

    display: inline-block;
    width: 44px !important;
    height: 44px !important;

    margin: 0 20px 4px 40px !important;

    background-position: center center !important;
    background-size: 70px 70px !important;

}

// Select dropdown
.selectric {
    border: 1px solid $black;
    background: white;

    .button {
        color: $black;
        background: white;

        &::after {
            border-top-color: $black;
        }
    }
}

.selectric-items {
    // border: 1px solid $black;

    .selectric-scroll {
        ul {
            padding-left: 0 !important;
        }
    }

    li.highlighted,
    li.selected,
    li:hover {
        background: $green;
        // background: red;
    }
}

.selectric-hover,
.selectric-open,
.selectric-focus {
    .selectric {
        border: 1px solid $black !important;

        .button {
            &::after {
                border-top-color: $black;
            }
        }
    }
}

.selectric-wrapper {
    margin-top: 4px;
}

// Tag Archive Page
.tag-header {
    margin-top: 20px;
    margin-bottom: 20px;

    padding-bottom: 5px;
    border-bottom: 1px solid $green;

    h1 {
        @extend %standard-font-style !optional;
        margin: 0;
        color: $green;
    }
}

.resource {
    &__list {
        // margin: 0;
        padding: 0 !important;
        list-style: none;

        @include mq($min-width: $lgBreak) {
            margin: 50px 0;
        }

        h3 {
            @extend %standard-font-style !optional;
            font-weight: 500;
            display: inline;
            margin: 0;

            padding-right: 10px;

            @include mq($min-width: $lgBreak) {
                padding-right: 10px;
            }
        }

        p {
            margin: 0;
            display: inline;


        }
    }
}


// Custom Checkbox
label.accept {
    position: relative;
    
    padding-left: 10px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .wpcf7-list-item-label {
      position: absolute;
      top: 1px;
      left: -10px;

      height: 15px;
      width: 15px;

      background-color: $white;

      border: 1px solid $primaryGrey;

      &::before,
      &::after {
        content: "";
        position: absolute;
        display: none;

        left: 1px;
        top: 5px;
        width: 11px;
        height: 2px;
        
        color: red;

        background: $primaryGrey;

        border-radius: 10px;

        // -webkit-transform: rotate(45deg);
        // -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
  }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .wpcf7-list-item-label {
            background: $primaryGrey;

            &::before,
            &::after {
                // display: block;
            }
        }
    }

    a {
        
        text-decoration: underline;
        
    }
}




// Custom checkbox
.form-submit__confirm {
    position: relative;
    margin-bottom: 20px;
    .wpcf7-form-control-wrap {
        .wpcf7-not-valid-tip {
            display: none !important;
        }
    }
}

.splash {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    padding: 0 20px;
    text-align: center;

    flex-direction: column;
    justify-content: center;

    z-index: 10000;

    display: flex;

    background: $white;

    h1 {
        margin: 0 0 10px 0;
    }

    h2 {
        margin: 0;
        font-family: $bodyFont;
        font-weight: 100;
        font-size: 24px;
    }

}



.resource-item {
    margin-bottom: 25px;

    &__left {
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__right {
        h3 {
            margin: 10px 0;
        }

        a {
            text-decoration: underline;
        }
    }

    @include mq($min-width: $mdBreak) {
        display: flex;
        margin-bottom: 0;
        margin-top: 40px;

        &__left {
            width: 25%;
        }

        &__right {
            padding-left: 10px;

            width: 75%;

            h3 {
                margin-top: 0;
            }
        }
    }

    @include mq($min-width: $lgBreak) {
        &__right {
            padding-left: 20px;

            h3 {
                margin-top: 0;
                font-size: 24px;
            }
        }
    }
}

.resource-page {
    padding: 20px;
    max-width: 1100px;

    margin: 0 auto;
    
    @include mq($min-width: $mdBreak) {
        padding: 40px 20px;
    }

    @include mq($min-width: $navBreak) {
        padding: 40px;
    }

    .page__headline {
        text-transform: uppercase;
        font-weight: 700;
        text-align: left;
        margin-bottom: 20px;

        @include mq($min-width: $mdBreak) {
            margin-bottom: 40px;
        }

        @include mq($min-width: $lgBreak) {
            margin-bottom: 60px;
        }
    }
}
