/* @font-face {
    font-family: 'GT Pressura';
    src: url('../fonts/GT-Pressura-Pro-Mono-Regular.eot');
    src: url('../fonts/GT-Pressura-Pro-Mono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GT-Pressura-Pro-Mono-Regular.woff2') format('woff2'),
         url('../fonts/GT-Pressura-Pro-Mono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}*/
@font-face {
  font-family: 'GT America';
  src: url("../fonts/GTAmerica-Medium.eot");
  src: url("../fonts/GTAmerica-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GTAmerica-Medium.woff2") format("woff2"), url("../fonts/GTAmerica-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'GT America';
  src: url("../fonts/GTAmerica-Bold.eot");
  src: url("../fonts/GTAmerica-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GTAmerica-Bold.woff2") format("woff2"), url("../fonts/GTAmerica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SangBleu Versailles';
  src: url("../fonts/SangBleuVersailles-RegularItalic.woff2") format("woff2"), url("../fonts/SangBleuVersailles-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'SangBleu Versailles';
  src: url("../fonts/SangBleuVersailles-Regular.woff2") format("woff2"), url("../fonts/SangBleuVersailles-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SangBleu Versailles';
  src: url("../fonts/SangBleuVersailles-Medium.woff2") format("woff2"), url("../fonts/SangBleuVersailles-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'SangBleu Versailles';
  src: url("../fonts/SangBleuVersailles-MediumItalic.woff2") format("woff2"), url("../fonts/SangBleuVersailles-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Suisse';
  src: url("../fonts/SuisseIntl-Light.woff2") format("woff2"), url("../fonts/SuisseIntl-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Suisse';
  src: url("../fonts/SuisseIntl-Medium.woff2") format("woff2"), url("../fonts/SuisseIntl-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

/* ********************************
 * Sitewide Settings
 * ******************************** */
* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

html {
  background: #f9f8ef; }
  html.fixed {
    height: 100vh;
    overflow-y: hidden; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "GT America", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #2e2e2e;
  background: #f9f8ef;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body.fixed {
    height: 100vh;
    overflow-y: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "GT America", sans-serif;
  font-weight: 700; }

.tag-header h1, .resource__list h3 {
  font-family: "GT America", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px; }
  @media only screen and (min-width: 1100px) {
    .tag-header h1, .resource__list h3 {
      font-size: 22px;
      line-height: 24px; } }

p, li {
  margin: 0 0 20px 0;
  font-size: 17px;
  line-height: 20px; }
  @media only screen and (min-width: 1100px) {
    p, li {
      margin: 0 0 20px 0;
      font-size: 22px;
      line-height: 24px; } }
  p a, li a {
    text-decoration: underline;
    transition: color 250ms ease; }
    p a:hover, li a:hover {
      color: #2bb673; }

@media only screen and (min-width: 1100px) {
  ul {
    margin-top: 50px;
    padding-left: 50px; } }

a {
  color: #2e2e2e;
  text-decoration: none; }

.btn, .submit-form-wrapper form input[type="submit"] {
  display: inline-block;
  padding: 12px 10px;
  font-family: "GT America", sans-serif;
  color: #3B3B3B;
  text-align: center;
  border: 1px solid #2e2e2e;
  transition: all 250ms ease; }
  .btn:hover, .submit-form-wrapper form input:hover[type="submit"] {
    color: #F4F4F4;
    background: #3B3B3B; }

.footer {
  display: flex;
  padding: 15px 20px;
  font-size: 12px;
  line-height: 18px;
  background: #f9f8ef;
  border-top: 1px solid #2bb673; }
  @media only screen and (min-width: 1250px) {
    .footer {
      padding: 15px 40px;
      border-top: 1px solid #2bb673; } }
  .footer__left, .footer__right {
    flex: 1;
    width: 50%; }
  .footer__left {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    @media only screen and (min-width: 370px) {
      .footer__left {
        padding-right: 0; } }
  .footer__right {
    text-align: right; }
  .footer a {
    text-decoration: none; }

body.dark {
  background: #3B3B3B;
  background-image: linear-gradient(180deg, #3B3B3B 0%, #FFFFFF 100%); }
  body.dark .footer {
    color: #F4F4F4;
    background: #3B3B3B;
    border-top: 1px solid #F4F4F4; }
    body.dark .footer a {
      color: #F4F4F4; }

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  columns: 2;
  max-width: 280px;
  margin-left: auto; }
  .footer-nav li {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
    padding-left: 10px; }

@media only screen and (min-width: 767px) {
  body.page-template-template-split .footer,
  body.single-card .footer {
    width: 50%; } }

/* 
body.single-card {
    .footer {
        background: $cardBG;
    }
}*/
.temp-page {
  min-height: calc(100vh - 85px);
  padding-top: 40px; }
  .temp-page h1 {
    margin: 0; }

/* *************************
 * Navigation
 * ************************* */
main {
  margin-top: 57px; }
  @media only screen and (min-width: 1250px) {
    main {
      margin-top: 83px; } }

.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  .navbar-list a {
    position: relative;
    color: #2bb673;
    font-weight: 500;
    text-decoration: none;
    transition: all 250ms ease; }
    .navbar-list a::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background: #2bb673;
      content: '';
      transition: all 250ms ease;
      display: none; }
    .navbar-list a:hover {
      color: #2bb673; }

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); }
  .navbar-overlay.visible {
    display: block; }
  @media only screen and (min-width: 1250px) {
    .navbar-overlay {
      display: none !important; } }

.navbar-drawer {
  position: fixed;
  width: calc(100% - 120px);
  top: 0;
  right: -100%;
  z-index: 1001;
  height: 100%;
  padding: 70px 20px 40px 20px;
  background: #f9f8ef;
  transition: right 250ms ease, padding 250ms ease; }
  @media only screen and (min-width: 420px) {
    .navbar-drawer {
      width: 260px;
      right: -260px; } }
  .navbar-drawer.visible {
    right: 0; }
    .navbar-drawer.visible .navbar-drawer__close-btn {
      display: block; }
  .navbar-drawer__close-btn {
    position: fixed;
    top: 60px;
    left: 10px;
    width: 40px;
    height: 40px;
    display: none; }
    .navbar-drawer__close-btn::before, .navbar-drawer__close-btn::after {
      position: absolute;
      top: 50%;
      width: 24px;
      height: 2px;
      background: #f9f8ef;
      transform-origin: center;
      content: '';
      border-radius: 50px; }
    .navbar-drawer__close-btn::before {
      transform: rotate(45deg);
      left: 8px; }
    .navbar-drawer__close-btn::after {
      transform: rotate(-45deg);
      left: 8px; }
  .navbar-drawer__search-form {
    position: relative;
    margin-top: 20px; }
    .navbar-drawer__search-form input[type="text"] {
      width: 100%;
      max-width: 100%;
      padding: 8px 0;
      margin-bottom: 20px;
      font-size: 16px;
      color: #2e2e2e;
      background: #f9f8ef;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #2bb673; }
      .navbar-drawer__search-form input[type="text"]::placeholder {
        font-size: 20px;
        color: #dddddd; }
      .navbar-drawer__search-form input[type="text"]:focus {
        outline: none; }
    .navbar-drawer__search-form input[type="submit"] {
      position: absolute;
      top: 4px;
      right: 0;
      width: 30px;
      height: 28px;
      margin: 0;
      font-size: 1px;
      color: #f9f8ef;
      background: #f9f8ef;
      background-image: url("../images/arrow-search.svg");
      background-position: center right;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      transform: translateX(0);
      transition: transform 250ms ease; }
      .navbar-drawer__search-form input[type="submit"]:hover {
        transform: translateX(2px); }
  .navbar-drawer .navbar-list li {
    margin-bottom: 5px; }
    .navbar-drawer .navbar-list li a {
      font-size: 25px;
      line-height: 33px; }
      .navbar-drawer .navbar-list li a::before {
        height: 2px; }
  @media only screen and (min-width: 1250px) {
    .navbar-drawer {
      display: none; } }

.home-logo {
  max-height: 30px; }
  @media only screen and (min-width: 1250px) {
    .home-logo {
      max-height: 40px; } }

.navbar {
  position: fixed;
  top: 0;
  z-index: 1200;
  display: flex;
  width: 100%;
  padding: 12px 20px;
  background: #f9f8ef;
  border-bottom: 1px solid #2bb673; }
  @media only screen and (min-width: 1250px) {
    .navbar {
      padding: 21px 40px 19px 40px;
      border-bottom: 1px solid #2bb673; } }
  .navbar__logo a {
    font-family: "GT America", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #2e2e2e;
    text-decoration: none; }
    .navbar__logo a span {
      display: block;
      font-size: 14px; }
  @media only screen and (min-width: 1250px) {
    .navbar__logo a {
      font-size: 25px;
      line-height: 25px; }
      .navbar__logo a span {
        display: block;
        font-size: 16px; } }
  .navbar__toggle {
    position: absolute;
    top: 5px;
    right: 0;
    width: 44px;
    height: 46px;
    padding-top: 14px; }
    .navbar__toggle span {
      display: block;
      width: 24px;
      height: 2px;
      margin-bottom: 6px;
      background: #2bb673;
      border-radius: 0.125rem; }
    @media only screen and (min-width: 1250px) {
      .navbar__toggle {
        display: none; } }
    .navbar__toggle.close-state {
      background: orange; }
  .navbar__nav {
    display: none; }
    @media only screen and (min-width: 1250px) {
      .navbar__nav {
        position: relative;
        top: 6px;
        display: flex;
        justify-content: flex-end;
        flex: 1;
        width: 100%;
        padding: 0;
        padding-right: 70px;
        text-align: right; } }
    .navbar__nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .navbar__nav ul li {
        margin-bottom: 20px; }
        @media only screen and (min-width: 1250px) {
          .navbar__nav ul li {
            display: inline-block;
            margin-bottom: 0;
            margin-left: 20px; }
            .navbar__nav ul li:first-child {
              margin-left: 10px; } }
        @media only screen and (min-width: 1500px) {
          .navbar__nav ul li {
            margin-left: 30px; }
            .navbar__nav ul li:first-child {
              margin-left: 10px; } }
        @media only screen and (min-width: 1650px) {
          .navbar__nav ul li {
            margin-left: 60px; }
            .navbar__nav ul li:first-child {
              margin-left: 10px; } }
        .navbar__nav ul li a {
          position: relative;
          font-size: 14px;
          font-weight: normal;
          color: #2bb673;
          text-decoration: none;
          transition: all 250ms ease; }
          @media only screen and (min-width: 1500px) {
            .navbar__nav ul li a {
              font-size: 18px; } }
          @media only screen and (min-width: 1650px) {
            .navbar__nav ul li a {
              font-size: 20px; } }
          .navbar__nav ul li a::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background: #2bb673;
            content: '';
            transition: all 250ms ease; }
          .navbar__nav ul li a:hover {
            opacity: 0.7; }
            .navbar__nav ul li a:hover::before {
              width: 100%; }
        .navbar__nav ul li.current-menu-item a,
        .navbar__nav ul li.current_page_item a {
          opacity: 0.7; }
          .navbar__nav ul li.current-menu-item a::before,
          .navbar__nav ul li.current_page_item a::before {
            width: 100%; }
  .navbar__search-form {
    position: absolute;
    top: 2px;
    right: 0;
    display: flex;
    padding-left: 6px;
    width: 40px;
    overflow: hidden;
    transition: width 250ms ease; }
    @media only screen and (min-width: 1500px) {
      .navbar__search-form {
        top: -1px; } }
    .navbar__search-form.visible {
      width: 350px; }
      .navbar__search-form.visible form {
        opacity: 1; }
    .navbar__search-form--btn {
      position: absolute;
      top: 2px;
      display: block;
      width: 30px;
      height: 26px;
      z-index: 900;
      color: #f9f8ef;
      font-size: 1px;
      background: #f9f8ef;
      background-image: url("../images/icon-search-2.svg");
      background-position: top left;
      background-repeat: no-repeat;
      overflow: hidden; }
    .navbar__search-form--form {
      position: relative;
      z-index: 800;
      padding-left: 30px;
      opacity: 0;
      transition: opacity 250ms ease; }
      .navbar__search-form--form input[type="text"] {
        max-width: 310px;
        margin-right: auto;
        padding-right: 10px;
        font-size: 20px;
        color: #2e2e2e;
        background: #f9f8ef;
        border: none;
        border-bottom: 2px solid #2bb673; }
        .navbar__search-form--form input[type="text"]::placeholder {
          color: #dddddd; }
        .navbar__search-form--form input[type="text"]:focus {
          outline: none; }
      .navbar__search-form--form input[type="submit"] {
        position: absolute;
        top: 0;
        right: -4px;
        width: 30px;
        height: 28px;
        margin: 0;
        font-size: 1px;
        color: transparent;
        background: #f9f8ef;
        background-image: url("../images/arrow-search.svg");
        background-position: center center;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        transform: translateX(0);
        transition: transform 250ms ease; }
        .navbar__search-form--form input[type="submit"]:hover {
          transform: translateX(2px); }

.navbar-list .wpml-ls-item {
  position: relative;
  padding: 0 4px;
  /* TEXT */
  padding: 0;
  /* TEXT */ }
  @media only screen and (min-width: 1250px) {
    .navbar-list .wpml-ls-item {
      margin-left: 10px; } }
  @media only screen and (min-width: 1500px) {
    .navbar-list .wpml-ls-item {
      margin-left: 10px; } }
  .navbar-list .wpml-ls-item.wpml-ls-current-language {
    opacity: 0.7; }
  .navbar-list .wpml-ls-item.wpml-ls-first-item {
    position: relative;
    margin-top: 24px; }
    @media only screen and (min-width: 1250px) {
      .navbar-list .wpml-ls-item.wpml-ls-first-item {
        margin-left: 20px; } }
    @media only screen and (min-width: 1650px) {
      .navbar-list .wpml-ls-item.wpml-ls-first-item {
        margin-left: 40px; } }
    .navbar-list .wpml-ls-item.wpml-ls-first-item::before {
      position: absolute;
      top: -10px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background: #2bb673;
      content: ''; }
    @media only screen and (min-width: 1250px) {
      .navbar-list .wpml-ls-item.wpml-ls-first-item {
        margin-top: 0;
        padding-left: 16px; }
        .navbar-list .wpml-ls-item.wpml-ls-first-item::before {
          top: 2px;
          left: -7px;
          width: 1px;
          height: 100%; } }
    @media only screen and (min-width: 1650px) {
      .navbar-list .wpml-ls-item.wpml-ls-first-item::before {
        left: -15px; } }
  .navbar-list .wpml-ls-item .sub-menu {
    position: absolute;
    top: 0;
    right: -30px;
    /* DROP DOWN
        position: absolute;
        left: 0;
        bottom: -100%;
        width: 100%;
        z-index: 2000;  

        background: $white;

        display: none;

        &.active {
            display: block;
        }

        */ }
    .navbar-list .wpml-ls-item .sub-menu li {
      margin-left: 0;
      width: 100%; }

.navbar-drawer .wpml-ls-item .sub-menu {
  position: relative;
  left: 0;
  bottom: initial;
  display: inline-block;
  width: 50px;
  list-style: none;
  margin: 0;
  padding: 0; }
  .navbar-drawer .wpml-ls-item .sub-menu li {
    padding-left: 10px; }
  .navbar-drawer .wpml-ls-item .sub-menu.active {
    display: inline-block !important; }

.dropdown-container {
  max-width: 800px;
  padding: 0 20px;
  margin: 0; }

.container {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto; }

.grid__container {
  padding: 0 10px;
  max-width: 1950px;
  min-height: calc(100vh - 155px); }
  @media only screen and (min-width: 550px) {
    .grid__container {
      display: flex;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 1180px) {
    .grid__container {
      padding: 0 30px; } }
  @media only screen and (min-width: 1450px) {
    .grid__container {
      padding: 0 20px; } }
  @media only screen and (min-width: 1250px) {
    .grid__container {
      min-height: calc(100vh - 186px); } }
  .grid__container--aligned {
    padding: 0 20px; }

.grid__load-more {
  padding: 20px 0 40px 0;
  text-align: center; }
  @media only screen and (min-width: 1180px) {
    .grid__load-more {
      padding-bottom: 60px; } }
  .grid__load-more.hidden {
    display: none; }

.grid__header {
  padding: 40px 0; }
  @media only screen and (min-width: 1180px) {
    .grid__header {
      padding: 40px 20px; } }
  .grid__header--cat {
    display: none; }
    .grid__header--cat.visible {
      display: block; }

.grid__item {
  width: 100%;
  padding: 0 10px; }
  @media only screen and (min-width: 550px) {
    .grid__item {
      width: 50%; } }
  @media only screen and (min-width: 750px) {
    .grid__item {
      width: 33%; } }
  @media only screen and (min-width: 1180px) {
    .grid__item {
      width: 25%; } }
  @media only screen and (min-width: 1700px) {
    .grid__item {
      width: 20%; } }
  @media only screen and (min-width: 1450px) {
    .grid__item {
      padding: 0 20px; } }

.grid-cat-header {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #231f20; }
  @media only screen and (min-width: 1250px) {
    .grid-cat-header {
      font-size: 22px;
      line-height: 22px; } }

.btn-grid-clear {
  color: #2bb673;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  cursor: pointer; }
  @media only screen and (min-width: 1250px) {
    .btn-grid-clear {
      font-size: 18px;
      line-height: 18px; } }
  .btn-grid-clear:hover {
    text-decoration: underline; }
  .btn-grid-clear.extra-space {
    margin-left: 20px; }

.btn-grid-sort {
  color: #2bb673;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 700;
  /* display: inline-block;
    border: 2px solid $green;
    padding: 5px 10px;
    transition: all 250ms ease; */ }
  @media only screen and (min-width: 1250px) {
    .btn-grid-sort {
      padding: 20px 0;
      font-size: 22px;
      line-height: 22px; } }
  .btn-grid-sort:hover {
    /* color: $white;
        background: $green; */
    text-decoration: underline; }

.loading-screen {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100px;
  display: none;
  background: #f9f8ef; }
  .loading-screen::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url("../images/spinner-2.gif");
    background-position: center;
    background-size: contain;
    transform: translate(-50%, -50%);
    content: ''; }
    @media only screen and (min-width: 1250px) {
      .loading-screen::before {
        width: 120px;
        height: 120px; } }
  @media only screen and (min-width: 1250px) {
    .loading-screen {
      height: 120px; } }
  .loading-screen.visible {
    display: block; }

.cat-modal .mfp-close {
  position: fixed;
  top: 93px;
  right: 10px;
  color: #2bb673;
  opacity: 1;
  font-size: 30px; }
  @media only screen and (min-width: 1250px) {
    .cat-modal .mfp-close {
      top: 122px;
      right: 38px;
      font-size: 40px; } }

.cat-modal .mfp-container {
  padding: 57px 20px; }
  @media only screen and (min-width: 1250px) {
    .cat-modal .mfp-container {
      padding: 83px 20px; } }

.cat-modal .mfp-content {
  padding: 0;
  max-width: 1200px;
  margin: 0 auto; }

.cat-nav {
  padding: 40px 0 40px 0; }
  @media only screen and (min-width: 1250px) {
    .cat-nav {
      padding: 40px 0 80px 0; } }
  .cat-nav__item {
    display: block;
    margin-bottom: 60px;
    padding: 0 20px;
    font-size: 4vw;
    line-height: 5vw;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    @media only screen and (min-width: 767px) {
      .cat-nav__item {
        margin-bottom: 80px; } }
    @media only screen and (min-width: 1250px) {
      .cat-nav__item {
        margin-bottom: 100px;
        padding: 0 40px; } }
    @media only screen and (min-width: 1500px) {
      .cat-nav__item {
        margin-bottom: 140px;
        padding: 0;
        font-size: 68px;
        line-height: 71px; } }
    .cat-nav__item:last-child {
      margin-bottom: 0; }

.mfp-bg.cat-modal {
  background: #f9f8ef; }

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 1; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

/* ************************
 * ORIGINAL CARD
 * ************************
.grid-card {
    position: relative;
    margin-bottom: 20px;

    perspective: 1000px;

    @include mq($min-width: $gridBreakMd) {
        margin-bottom: 40px;
    }

    &:hover,
    &.hover {
        .grid-card__inner {
            transform: rotateY(180deg);
        }
    }

    &__inner {
        position: relative;
        transition: 0.75s;
        transform-style: preserve-3d;
        height: 100%;

        &--front,
        &--back {
            -webkit-backface-visibility: hidden;
               -moz-backface-visibility: hidden;
                    backface-visibility: hidden;

            border-radius: 15px;
            overflow: hidden;

            &.grey {
                background: $greyCardBG;

                .grid-card__content--back {
                    background: $greyCardBG;
                }

                .grid-card__headline {
                    color: $greyCardText;
                }

                .grid-card__prompt {
                    border-top: 1px solid $greyCardText;
                }

                p, li {
                    color: $greyCardText;
                }
            }
        }

        &--front {
            position: relative;
            z-index: 2;
            
            transform: rotateY(0deg);
            height: 0;
            padding-top: 150%;

            background: $cardBG;

            img {
                position: absolute;
                top: 50%;
                left: 15px;
                width: calc(100% - 30px);

                transform: translateY(-50%);
            }

            &.grey {
                .grid-card__headline {
                    position: absolute;
                    top: 20px;
                    left: 20px;

                    max-width: calc(100% - 40px);
                }
            }
        }

        &--back {
            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            flex-direction: column;
            justify-content: center;

            width: 100%;
            height: 100%;

            background: $cardBG;

            transform: rotateY(180deg);
        }
    }

    &__headline {
        margin-top: 0;
        color: $primaryGrey;
        font-size: 36px;
        line-height: 46px;

        font-size: 10vw;
        line-height: 12vw;

        @include mq($min-width: $gridBreakSm ) {
            font-size: 4.6vw;
            line-height: 5.4vw;
        }

        @include mq($min-width: $gridBreakMd) {
            font-size: 2.6vw;
            line-height: 3vw;
        }

        @include mq($min-width: $gridBreakLg) {
            font-size: 2vw;
            line-height: 2.6vw;
        }

        @include mq($min-width: $gridBreakXl) {
            font-size: 30px;
            line-heightight:34px;
        }
    }

    &__content {
        padding: 10px 10px;
        text-align: center;

        @include mq($min-width: $mdBreak) {
            padding: 15px;
        }

        &--front {
            @extend .grid-card__content;
            position: relative;

            padding: 40px 10px 20px 10px;

            @include mq($min-width: 370px) {
                padding: 20px 10px;
            }

            &::before {
                position: absolute;
                top: -20px;
                left: 0;
                z-index: 5;

                display: block;

                width: 100%;
                height: 18px;

                background-image: linear-gradient(180deg, rgba(238,238,238,0.00) 0%, #FFFFFF 100%);

                content: '';
            }
        }

        &--back {
            @extend .grid-card__content;
            height: 100%;
            padding: 20px;
            // background: red;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            overflow: scroll;

            text-align: left;

            background: $cardBG;

            h2 {
                margin-top: 0;
                color: $primaryGrey;
                font-size: 36px;
                line-height: 46px;

                font-size: 10vw;
                line-height: 12vw;
            }

            .grid-card__prompt {
                border-top: 1px solid $primaryGrey;
                padding-top: 8px;
            }

            ul {
                padding: 0 20px 0 26px;
            }

            p,
            li { 
                margin: 0 0 20px 0;
                color: $primaryGrey;

                font-size: 17px;
                line-height: 20px;  

                font-size: 4.5vw;   
                line-height: 5.4vw;          
            }

            li {
                margin-bottom: 10px;
            }

            .btn {
                display: block;
                max-width: 120px;
                margin: 40px auto 0 auto;
                padding: 8px 15px;
                color: $primaryGrey;
                font-family: $headingFont;
                font-size: 10px;
                text-decoration: none;
                border: 1px solid $primaryGrey;

                &.light {
                    color: $greyCardText;
                    border-color: $greyCardText;
                }
            }

            @include mq($min-width: $gridBreakSm ) {
                // Font Sizes
                h2 {
                    font-size: 4.6vw;
                    line-height: 5.4vw;
                }

                p, li {
                    font-size: 2.2vw;
                    line-height: 2.8vw;
                }

                .btn {
                    margin-top: 20px;
                }
            }

            @include mq($min-width: $gridBreakMd) {
                // Font Sizes
                h2 {
                    font-size: 2.6vw;
                    line-height: 3vw;
                }

                p, li {
                    font-size: 1.6vw;
                    line-height: 2.2vw;
                }
            }

            @include mq($min-width: $gridBreakLg) {
                // Font Sizes
                h2 {
                    font-size: 2vw;
                    line-height: 2.6vw;
                }

                p, li {
                    font-size: 1vw;
                    line-height: 1.4vw;
                }
            }

            @include mq($min-width: $lgBreak) {
                // Font Sizes
                .btn {
                    margin-top: 40px;
                    transition: all 250ms ease;

                    &:hover {
                        color: $white;
                        background: $primaryGrey;
                    }

                    &.light {
                        &:hover {
                            color: $greyCardBG;
                            background: $greyCardText;
                        }
                    }
                }
            }

            @include mq($min-width: $gridBreakXl) {
                h2 {
                    font-size: 30px;
                    line-height:34px;
                }

                p, li {
                    font-size: 14px;
                    line-height: 17px;
                }

                .btn {
                    margin-top: 40px;
                }
            }
        }
    }
}
 * ************************
 *  ^^ END ORIGINAL CARD ^^
 * ************************* */
.grid-card {
  position: relative;
  margin-bottom: 20px;
  perspective: 1000px;
  /*
    &__headline {
        margin-top: 0;
        color: $primaryGrey;
        font-size: 36px;
        line-height: 46px;

        font-size: 10vw;
        line-height: 12vw;

        @include mq($min-width: $gridBreakSm ) {
            font-size: 4.6vw;
            line-height: 5.4vw;
        }

        @include mq($min-width: $gridBreakMd) {
            font-size: 2.6vw;
            line-height: 3vw;
        }

        @include mq($min-width: $gridBreakLg) {
            font-size: 2vw;
            line-height: 2.6vw;
        }

        @include mq($min-width: $gridBreakXl) {
            font-size: 30px;
            line-heightight:34px;
        }
    }
    */ }
  @media only screen and (min-width: 750px) {
    .grid-card {
      margin-bottom: 40px; } }
  .grid-card:hover .grid-card__inner, .grid-card.hover .grid-card__inner {
    transform: rotateY(180deg); }
  .grid-card__color-strip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
    width: 100%;
    height: 20px; }
    @media only screen and (min-width: 1180px) {
      .grid-card__color-strip {
        height: 30px; } }
    @media only screen and (min-width: 1700px) {
      .grid-card__color-strip {
        height: 40px; } }
  .grid-card__prompt {
    padding-top: 20px; }
  .grid-card__inner {
    position: relative;
    transition: 0.75s;
    transform-style: preserve-3d;
    height: 100%; }
    .grid-card__inner--front, .grid-card__inner--back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 20px;
      overflow: hidden; }
      @media only screen and (min-width: 1180px) {
        .grid-card__inner--front, .grid-card__inner--back {
          border-radius: 30px; } }
      .grid-card__inner--front.grey, .grid-card__inner--back.grey {
        background: #2e2e2e; }
        .grid-card__inner--front.grey .grid-card__content--back, .grid-card__inner--back.grey .grid-card__content--back {
          background: #2e2e2e; }
        .grid-card__inner--front.grey .grid-card__headline, .grid-card__inner--back.grey .grid-card__headline {
          color: #DFDFDF; }
        .grid-card__inner--front.grey .grid-card__prompt, .grid-card__inner--back.grey .grid-card__prompt {
          border-top: 1px solid #DFDFDF; }
        .grid-card__inner--front.grey p, .grid-card__inner--front.grey li, .grid-card__inner--back.grey p, .grid-card__inner--back.grey li {
          color: #DFDFDF; }
      .grid-card__inner--front.green, .grid-card__inner--back.green {
        background: #2bb673; }
        .grid-card__inner--front.green .grid-card__headline, .grid-card__inner--back.green .grid-card__headline {
          color: #f9f8ef; }
        .grid-card__inner--front.green .grid-card__content--back .grid-card__headline, .grid-card__inner--back.green .grid-card__content--back .grid-card__headline {
          color: #231f20; }
        .grid-card__inner--front.green .grid-card__prompt, .grid-card__inner--back.green .grid-card__prompt {
          border-top: 1px solid #231f20; }
    .grid-card__inner--front {
      position: relative;
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
      height: 0;
      padding-top: 125%;
      background: #E7E6E0; }
      .grid-card__inner--front img {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%); }
      .grid-card__inner--front.grey .grid-card__headline {
        position: absolute;
        top: 20px;
        left: 20px;
        max-width: calc(100% - 40px); }
      .grid-card__inner--front.green .grid-card__headline {
        position: absolute;
        top: 20px;
        left: 20px;
        max-width: calc(100% - 40px); }
    .grid-card__inner--back {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      background: #F4F4F4;
      transform: rotateY(180deg); }
      .grid-card__inner--back.green {
        background: #f9f8ef;
        border: 8px solid #2bb673; }
        @media only screen and (min-width: 750px) {
          .grid-card__inner--back.green {
            border: 13px solid #2bb673; } }
  .grid-card__content, .grid-card__content--front, .grid-card__content--back {
    padding: 10px 10px;
    text-align: center; }
    @media only screen and (min-width: 767px) {
      .grid-card__content, .grid-card__content--front, .grid-card__content--back {
        padding: 15px; } }
    .grid-card__content--front {
      position: relative;
      padding: 40px 10px 20px 10px; }
      @media only screen and (min-width: 370px) {
        .grid-card__content--front {
          padding: 20px 10px; } }
      .grid-card__content--front::before {
        position: absolute;
        top: -20px;
        left: 0;
        z-index: 5;
        display: block;
        width: 100%;
        height: 18px;
        background-image: linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, #FFFFFF 100%);
        content: ''; }
    .grid-card__content--wrapper {
      background: #F4F4F4;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      overflow: scroll;
      border-radius: 15px; }
      @media only screen and (min-width: 1180px) {
        .grid-card__content--wrapper {
          border-radius: 20px;
          padding: 30px 10px; } }
    .grid-card__content--back {
      height: 100%;
      padding: 8px;
      text-align: left; }
      @media only screen and (min-width: 750px) {
        .grid-card__content--back {
          padding: 13px; } }
      .grid-card__content--back h2 {
        margin-top: 0;
        color: #2e2e2e;
        font-size: 36px;
        line-height: 46px;
        font-size: 6vw;
        line-height: 7vw;
        text-align: center;
        text-transform: uppercase; }
      .grid-card__content--back .grid-card__prompt {
        margin-top: 30px; }
      .grid-card__content--back ul {
        margin: 20px 0 0 0;
        padding: 0 20px 0 15px; }
      .grid-card__content--back p,
      .grid-card__content--back li {
        margin: 0 0 20px 0;
        color: #231f20;
        font-size: 15px;
        line-height: 20px;
        margin: 0 auto;
        font-size: 3.8vw;
        line-height: 4vw; }
      .grid-card__content--back li {
        margin-bottom: 10px; }
      .grid-card__content--back .btn, .grid-card__content--back .submit-form-wrapper form input[type="submit"], .submit-form-wrapper form .grid-card__content--back input[type="submit"] {
        display: block;
        max-width: 120px;
        margin: 40px auto 0 auto;
        padding: 8px 15px;
        color: #2e2e2e;
        font-family: "GT America", sans-serif;
        font-size: 10px;
        text-decoration: none;
        border: 1px solid #2e2e2e; }
        .grid-card__content--back .btn.light, .grid-card__content--back .submit-form-wrapper form input.light[type="submit"], .submit-form-wrapper form .grid-card__content--back input.light[type="submit"] {
          color: #DFDFDF;
          border-color: #DFDFDF; }
        .grid-card__content--back .btn.lg, .grid-card__content--back .submit-form-wrapper form input.lg[type="submit"], .submit-form-wrapper form .grid-card__content--back input.lg[type="submit"] {
          max-width: 180px; }
      @media only screen and (min-width: 550px) {
        .grid-card__content--back.special {
          overflow-y: auto;
          /*
                    display:flex;
                    flex-direction: column;
                    justify-content:center;
                    align-items:center;
                    */
          /*
                    background: red;

                    >div {
                        // padding-top: 50px;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    */ }
          .grid-card__content--back.special > div {
            padding-top: 20px;
            padding-bottom: 20px; }
        .grid-card__content--back h2 {
          font-size: 3.8vw;
          line-height: 4vw; }
        .grid-card__content--back p,
        .grid-card__content--back li {
          font-size: 2vw;
          line-height: 2.2vw; }
        .grid-card__content--back .btn, .grid-card__content--back .submit-form-wrapper form input[type="submit"], .submit-form-wrapper form .grid-card__content--back input[type="submit"] {
          margin-top: 20px; } }
      @media only screen and (min-width: 750px) {
        .grid-card__content--back.special {
          padding: 0 30px; }
        .grid-card__content--back h2 {
          font-size: 2.2vw;
          line-height: 2.4vw; }
        .grid-card__content--back p,
        .grid-card__content--back li {
          font-size: 1.2vw;
          line-height: 1.4vw; } }
      @media only screen and (min-width: 1180px) {
        .grid-card__content--back h2 {
          font-size: 1.8vw;
          line-height: 2vw; }
        .grid-card__content--back p,
        .grid-card__content--back li {
          font-size: 0.9vw;
          line-height: 1.1vw; } }
      @media only screen and (min-width: 1100px) {
        .grid-card__content--back .btn, .grid-card__content--back .submit-form-wrapper form input[type="submit"], .submit-form-wrapper form .grid-card__content--back input[type="submit"] {
          margin-top: 20px;
          transition: all 250ms ease; }
          .grid-card__content--back .btn:hover, .grid-card__content--back .submit-form-wrapper form input:hover[type="submit"], .submit-form-wrapper form .grid-card__content--back input:hover[type="submit"] {
            color: #f9f8ef;
            background: #2e2e2e; }
          .grid-card__content--back .btn.light:hover, .grid-card__content--back .submit-form-wrapper form input.light:hover[type="submit"], .submit-form-wrapper form .grid-card__content--back input.light:hover[type="submit"] {
            color: #2e2e2e;
            background: #DFDFDF; } }
      @media only screen and (min-width: 1700px) {
        .grid-card__content--back h2 {
          font-size: 30px;
          line-height: 32px; }
        .grid-card__content--back p,
        .grid-card__content--back li {
          font-size: 16px;
          line-height: 18px; }
        .grid-card__content--back .btn, .grid-card__content--back .submit-form-wrapper form input[type="submit"], .submit-form-wrapper form .grid-card__content--back input[type="submit"],
        .grid-card__content--back .grid-card__prompt {
          margin-top: 20px; } }

.prompt {
  position: relative;
  /* ORIGINAL
    &__card {
        margin: 0;

        cursor: zoom-in;

        &--wrapper {
            width: 100%;
            max-width: 380px;
            max-height: 100%;

            margin: 0 auto;

            &.horizontal {
                max-width: 600px;

                min-height: 80vh;

                display: flex;
                justify-content: center;
                flex-direction: column;
            }
        }

        position: relative;

        background: $cardBG;
        border-radius: 15px;
        height: 0;

        padding: 30px 20px;
        padding-top: 150%;

        transition: box-shadow 250ms ease, transform 250ms ease;

        // Box Shadow for behind card:
        // box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.1);

        img {
            position: absolute;
            top: 50%;
            left: 15px;
            width: calc(100% - 30px);

            transform: translateY(-50%);
        }

        &.horizontal {
            padding-top: 58%;

            img {
                top: 50%;
                left: 50%;
                width: auto;
                height: calc(100% - 30px);

                transform: translateY(-50%) translateX(-50%);
            }
        }

        @include mq($min-width: $mdBreak) {
            max-height: 100%;
        }

        &:hover {
            transform: translate(-1px, -1px);
            box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.1);
        }

        &:active {
            transform: translate(1px, 1px);
            // box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.1);
        }
    }

    */ }
  .prompt::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: none;
    width: 1px;
    height: 100%;
    background: #2bb673;
    content: ''; }
    @media only screen and (min-width: 767px) {
      .prompt::before {
        display: block; } }
  @media only screen and (min-width: 767px) {
    .prompt {
      display: flex;
      flex-direction: row; } }
  .prompt__title {
    margin: 0 0 20px 0;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    color: #2e2e2e;
    text-transform: uppercase; }
    @media only screen and (min-width: 1100px) {
      .prompt__title {
        font-size: 42px;
        line-height: 42px; } }
    @media only screen and (min-width: 1500px) {
      .prompt__title {
        font-size: 58px;
        line-height: 58px; } }
  .prompt__textarea {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-top: 10px; }
    .prompt__textarea span.prompt-by {
      font-size: 12px;
      font-family: "GT America", sans-serif;
      font-weight: normal; }
    @media only screen and (min-width: 767px) {
      .prompt__textarea {
        margin-top: 120px; } }
    @media only screen and (min-width: 1100px) {
      .prompt__textarea {
        margin-top: 140px; }
        .prompt__textarea p {
          font-size: 24px;
          line-height: 32px; } }
  @media only screen and (min-width: 767px) {
    .prompt__image, .prompt__content {
      width: 50%; } }
  .prompt__image {
    position: relative;
    padding: 20px 20px;
    background: #f9f8ef; }
    @media only screen and (min-width: 767px) {
      .prompt__image {
        position: fixed;
        top: 57px;
        left: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 1px solid #2bb673;
        height: calc(100vh - 57px); } }
    @media only screen and (min-width: 1250px) {
      .prompt__image {
        top: 83px;
        height: calc(100vh - 83px); } }
    @media only screen and (max-height: 680px) and (min-width: 767px) {
      .prompt__image {
        position: absolute;
        top: 0;
        height: calc(100% + 1px);
        border-bottom: 1px solid #2bb673; } }
    .prompt__image--nav-arrows {
      display: block;
      width: 30px;
      height: 30px;
      content: '';
      background-image: url("../images/arrow-prompt.svg");
      background-repeat: no-repeat;
      background-position: center left; }
    .prompt__image--caption {
      padding: 0;
      margin-top: 20px;
      text-align: center;
      display: flex; }
      @media only screen and (min-width: 767px) {
        .prompt__image--caption {
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 100%;
          padding: 0 20px;
          margin-top: 0; } }
      @media only screen and (max-height: 680px) and (min-width: 767px) {
        .prompt__image--caption {
          height: 50px; } }
      .prompt__image--caption div.arrow {
        width: 30px; }
        .prompt__image--caption div.arrow a {
          display: block;
          width: 30px;
          height: 30px;
          overflow: hidden;
          background-image: url("../images/arrow-prompt.svg");
          background-repeat: no-repeat;
          background-position: center left;
          color: transparent;
          font-size: 1px; }
          @media only screen and (min-width: 767px) {
            .prompt__image--caption div.arrow a {
              background-image: url("../images/arrow-prompt-lg.svg"); } }
        .prompt__image--caption div.arrow.next a {
          transform: rotate(180deg); }
      .prompt__image--caption div.text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .prompt__image--caption p {
        margin: 0;
        font-family: "GT America", sans-serif;
        font-weight: normal;
        font-size: 12px;
        color: #2e2e2e; }
        .prompt__image--caption p a:hover {
          opacity: 0.8; }
      @media only screen and (max-height: 680px) and (min-width: 767px) {
        .prompt__image--caption {
          position: relative;
          bottom: 0;
          padding-top: 20px; }
          .prompt__image--caption div.arrow {
            position: absolute;
            bottom: 0;
            display: block; }
            .prompt__image--caption div.arrow.next {
              right: 0; } }
  .prompt__content {
    padding: 40px 20px 40px 20px;
    min-height: 85vh;
    background: #f9f8ef; }
    @media only screen and (min-width: 767px) {
      .prompt__content--container {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column; }
        .prompt__content--container .top {
          padding-top: 20px;
          padding-bottom: 60px;
          position: relative;
          height: 100%; } }
    @media only screen and (min-width: 1250px) {
      .prompt__content--container {
        padding: 0 20px; } }
    @media only screen and (min-width: 1100px) {
      .prompt__content--container {
        margin: 0; }
        .prompt__content--container .top {
          padding-top: 30px;
          max-width: 720px;
          margin: 0; } }
    @media only screen and (min-width: 767px) {
      .prompt__content {
        padding: 80px 20px 30px 20px;
        min-height: calc(100vh - 57px); } }
    @media only screen and (min-width: 1100px) {
      .prompt__content {
        min-height: calc(100vh - 83px); } }
  .prompt__card {
    position: relative;
    max-height: 100%;
    cursor: zoom-in;
    transition: box-shadow 250ms ease, transform 250ms ease; }
    @media only screen and (min-width: 767px) {
      .prompt__card.vertical {
        display: block;
        height: 100%; } }
    .prompt__card--wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 500px;
      max-height: calc(100% - 80px);
      margin: 0 auto; }
      @media only screen and (max-height: 680px) and (min-width: 767px) {
        .prompt__card--wrapper {
          max-height: calc(100% - 57px); } }
      .prompt__card--wrapper.horizontal {
        max-width: 600px;
        min-height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column; }
      @media only screen and (min-width: 767px) {
        .prompt__card--wrapper.vertical img {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          max-height: 100%;
          max-width: 100%;
          width: auto;
          height: auto;
          transform: translate(-50%, -50%); } }
    .prompt__card:hover {
      transform: translate(-1px, -1px); }
  .prompt__meta {
    padding-top: 20px;
    font-size: 12px;
    border-top: 1px solid #2bb673; }
    @media only screen and (min-width: 767px) {
      .prompt__meta {
        display: flex;
        padding-top: 0;
        border-top: none; }
        .prompt__meta--left, .prompt__meta--right {
          flex: 1; }
        .prompt__meta--left {
          padding-right: 10px; }
        .prompt__meta--right {
          padding-left: 10px;
          text-align: right; } }
  .prompt__tags {
    margin-top: 10px; }
    @media only screen and (min-width: 767px) {
      .prompt__tags {
        margin-top: 0; } }
    .prompt__tags a {
      transition: color 250ms ease; }
      .prompt__tags a:hover {
        color: #2bb673; }

.prompt-by {
  font-family: "GT America", sans-serif; }
  .prompt-by a {
    text-decoration: underline; }
    .prompt-by a:hover {
      color: #2bb673; }

body.single-card {
  background: #f9f8ef; }

/* *************************
 * Page Modules
 * ************************* */
.page__section {
  padding: 80px 0 40px 0;
  min-height: calc(100vh - 46px); }
  @media only screen and (min-width: 767px) {
    .page__section {
      padding: 120px 0 100px 0; } }
  .page__section.grey {
    background: #F4F4F4; }
  .page__section.black {
    background: #3B3B3B;
    color: #F4F4F4; }
    .page__section.black .page__text {
      border-top-color: #F4F4F4; }

.page__headline {
  margin: 0 0 20px 0;
  font-size: 36px;
  font-weight: 500;
  text-align: center; }
  @media only screen and (min-width: 420px) {
    .page__headline {
      font-size: 46px; } }
  @media only screen and (min-width: 1100px) {
    .page__headline {
      font-size: 58px; } }
  @media only screen and (min-width: 1500px) {
    .page__headline {
      font-size: 68px; } }

.page__text {
  margin-top: 100px;
  padding-top: 10px;
  border-top: 1px solid #2e2e2e; }
  @media only screen and (min-width: 767px) {
    .page__text {
      margin-top: 120px; } }
  .page__text.no-border {
    border-top: none; }
  .page__text.center {
    text-align: center; }
  .page__text ul {
    padding-left: 30px; }
    @media only screen and (min-width: 1100px) {
      .page__text ul {
        padding-left: 50px; } }
    .page__text ul li {
      margin-bottom: 10px; }
      @media only screen and (min-width: 1100px) {
        .page__text ul li {
          margin-bottom: 20px; } }

@media only screen and (min-width: 767px) {
  .split-page {
    display: flex; }
    .split-page__left, .split-page__right {
      width: 50%; } }

.split-page__left {
  padding: 60px 0 40px 0; }
  .split-page__left h2 {
    text-align: left;
    font-weight: 700;
    text-transform: uppercase; }
  @media only screen and (min-width: 767px) {
    .split-page__left {
      padding: 60px 0 80px 0;
      min-height: calc(100vh - 57px); } }
  @media only screen and (min-width: 1250px) {
    .split-page__left {
      min-height: calc(100vh - 83px);
      padding: 60px 20px 80px 20px; } }
  @media only screen and (min-width: 1100px) {
    .split-page__left {
      padding: 80px 20px 80px 20px; } }

.split-page__right img {
  display: block;
  width: 100%;
  height: auto; }

@media only screen and (min-width: 767px) {
  .split-page__right {
    position: fixed;
    top: 57px;
    left: 50%;
    min-height: calc(100vh - 57px);
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    border-left: 1px solid #2bb673; }
    .split-page__right img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 80%;
      width: auto;
      height: auto;
      max-height: calc(100% - 40px); } }

@media only screen and (min-width: 1250px) {
  .split-page__right {
    top: 83px;
    min-height: calc(100vh - 83px); } }

@media only screen and (min-width: 1100px) {
  .split-page__right img {
    max-height: calc(100% - 80px); } }

.split-page__content {
  margin-top: 20px;
  padding-top: 12px; }
  .split-page__content.collapsed {
    margin-top: 40px; }
  @media only screen and (min-width: 767px) {
    .split-page__content {
      margin-top: 40px; }
      .split-page__content.collapsed {
        margin-top: 60px; } }
  @media only screen and (min-width: 1100px) {
    .split-page__content {
      margin-top: 40px;
      max-width: 820px; }
      .split-page__content.collapsed {
        margin-top: 100px; } }
  .split-page__content ul {
    padding-left: 30px; }
    @media only screen and (min-width: 1100px) {
      .split-page__content ul {
        padding-left: 50px; } }

main.dark {
  background: #3B3B3B; }
  main.dark h1, main.dark h2, main.dark h3, main.dark h4, main.dark h5, main.dark h6, main.dark p, main.dark li {
    color: #F4F4F4; }
  main.dark .split-page__content {
    border-top: 1px solid #F4F4F4; }
  @media only screen and (min-width: 767px) {
    main.dark .split-page__right {
      background: #3B3B3B;
      border-left: 1px solid #F4F4F4; } }

.wpcf7-form span.prompt::before {
  display: none; }

.page-submission__left, .page-submission__right {
  padding: 40px 0; }

@media only screen and (min-width: 767px) {
  .page-submission {
    display: flex; }
    .page-submission__left, .page-submission__right {
      padding: 80px 0;
      width: 50%;
      min-height: calc(100vh - 44px); } }

.page-submission__left {
  padding-bottom: 0; }
  .page-submission__left .page__headline {
    text-align: left; }
  @media only screen and (min-width: 767px) {
    .page-submission__left {
      padding-bottom: 40px; } }
  @media only screen and (min-width: 1100px) {
    .page-submission__left {
      padding-top: 120px; } }

.page-submission__right {
  padding-top: 20px; }
  @media only screen and (min-width: 767px) {
    .page-submission__right {
      position: relative;
      z-index: 10;
      background: #f9f8ef;
      padding-top: 40px;
      border-left: 1px solid #2e2e2e; } }

.submit-form-wrapper {
  margin-top: 20px; }
  @media only screen and (min-width: 767px) {
    .submit-form-wrapper {
      margin-top: 40px; } }
  .submit-form-wrapper form {
    margin: 0 auto; }
    .submit-form-wrapper form input[type="text"],
    .submit-form-wrapper form input[type="email"],
    .submit-form-wrapper form textarea {
      padding: 8px 5px;
      margin-top: 4px;
      display: block;
      width: 100%;
      max-width: 100%;
      font-size: 16px;
      font-family: "GT America", sans-serif;
      font-weight: 300;
      color: #2e2e2e;
      border: 1px solid #2e2e2e;
      border-radius: 0; }
    .submit-form-wrapper form label {
      font-family: "GT America", sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px; }
    .submit-form-wrapper form input[type="submit"] {
      background: transparent;
      border-radius: 0;
      font-size: 16px;
      padding: 12px 20px;
      min-width: 130px; }
    .submit-form-wrapper form p {
      font-size: 12px;
      line-height: 16px; }

.custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex; }
  .custom-file-upload label {
    display: block;
    margin-bottom: 5px; }
  .custom-file-upload .cardimagery {
    display: block;
    width: 100%; }

.file-upload-wrapper {
  position: relative;
  display: flex;
  width: 100%; }

.file-upload-input {
  color: #fff;
  font-size: 16px;
  padding: 11px 17px;
  border: none;
  background: #f9f8ef;
  flex: 1;
  width: 100%;
  display: block;
  border: none !important;
  padding-bottom: 12px !important;
  margin-left: 10px;
  font-weight: 100;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none; }
  .file-upload-input:hover, .file-upload-input:focus {
    outline: none; }

.file-upload-button {
  display: inline-block;
  padding: 11px 20px;
  cursor: pointer;
  color: #3B3B3B;
  font-family: "GT America", sans-serif;
  font-size: 16px;
  border: 1px solid #3B3B3B;
  padding: 12px 12px;
  background: transparent;
  transition: all 250ms ease;
  min-width: 130px; }
  .file-upload-button:hover {
    background: #3B3B3B;
    color: #F4F4F4; }

.wpcf7-not-valid-tip {
  display: block !important;
  padding-top: 5px !important;
  font-family: "GT America", sans-serif;
  font-size: 12px  !important;
  font-weight: 300 !important; }

.wpcf7-response-output {
  padding: 10px 5px !important;
  margin: 30px 0 !important;
  text-align: center; }

.ajax-loader {
  background-image: url("../images/spinner-02.gif") !important;
  display: inline-block;
  width: 44px !important;
  height: 44px !important;
  margin: 0 20px 4px 40px !important;
  background-position: center center !important;
  background-size: 70px 70px !important; }

.selectric {
  border: 1px solid #231f20;
  background: white; }
  .selectric .button {
    color: #231f20;
    background: white; }
    .selectric .button::after {
      border-top-color: #231f20; }

.selectric-items .selectric-scroll ul {
  padding-left: 0 !important; }

.selectric-items li.highlighted,
.selectric-items li.selected,
.selectric-items li:hover {
  background: #2bb673; }

.selectric-hover .selectric,
.selectric-open .selectric,
.selectric-focus .selectric {
  border: 1px solid #231f20 !important; }
  .selectric-hover .selectric .button::after,
  .selectric-open .selectric .button::after,
  .selectric-focus .selectric .button::after {
    border-top-color: #231f20; }

.selectric-wrapper {
  margin-top: 4px; }

.tag-header {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #2bb673; }
  .tag-header h1 {
    margin: 0;
    color: #2bb673; }

.resource__list {
  padding: 0 !important;
  list-style: none; }
  @media only screen and (min-width: 1100px) {
    .resource__list {
      margin: 50px 0; } }
  .resource__list h3 {
    font-weight: 500;
    display: inline;
    margin: 0;
    padding-right: 10px; }
    @media only screen and (min-width: 1100px) {
      .resource__list h3 {
        padding-right: 10px; } }
  .resource__list p {
    margin: 0;
    display: inline; }

label.accept {
  position: relative;
  padding-left: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  label.accept .wpcf7-list-item-label {
    position: absolute;
    top: 1px;
    left: -10px;
    height: 15px;
    width: 15px;
    background-color: #f9f8ef;
    border: 1px solid #2e2e2e; }
    label.accept .wpcf7-list-item-label::before, label.accept .wpcf7-list-item-label::after {
      content: "";
      position: absolute;
      display: none;
      left: 1px;
      top: 5px;
      width: 11px;
      height: 2px;
      color: red;
      background: #2e2e2e;
      border-radius: 10px;
      transform: rotate(45deg); }
    label.accept .wpcf7-list-item-label::after {
      transform: rotate(-45deg); }
  label.accept input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
    label.accept input:checked ~ .wpcf7-list-item-label {
      background: #2e2e2e; }
  label.accept a {
    text-decoration: underline; }

.form-submit__confirm {
  position: relative;
  margin-bottom: 20px; }
  .form-submit__confirm .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
    display: none !important; }

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  z-index: 10000;
  display: flex;
  background: #f9f8ef; }
  .splash h1 {
    margin: 0 0 10px 0; }
  .splash h2 {
    margin: 0;
    font-family: "GT America", sans-serif;
    font-weight: 100;
    font-size: 24px; }

.resource-item {
  margin-bottom: 25px; }
  .resource-item__left img {
    display: block;
    width: 100%;
    height: auto; }
  .resource-item__right h3 {
    margin: 10px 0; }
  .resource-item__right a {
    text-decoration: underline; }
  @media only screen and (min-width: 767px) {
    .resource-item {
      display: flex;
      margin-bottom: 0;
      margin-top: 40px; }
      .resource-item__left {
        width: 25%; }
      .resource-item__right {
        padding-left: 10px;
        width: 75%; }
        .resource-item__right h3 {
          margin-top: 0; } }
  @media only screen and (min-width: 1100px) {
    .resource-item__right {
      padding-left: 20px; }
      .resource-item__right h3 {
        margin-top: 0;
        font-size: 24px; } }

.resource-page {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto; }
  @media only screen and (min-width: 767px) {
    .resource-page {
      padding: 40px 20px; } }
  @media only screen and (min-width: 1250px) {
    .resource-page {
      padding: 40px; } }
  .resource-page .page__headline {
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px; }
    @media only screen and (min-width: 767px) {
      .resource-page .page__headline {
        margin-bottom: 40px; } }
    @media only screen and (min-width: 1100px) {
      .resource-page .page__headline {
        margin-bottom: 60px; } }
