/* @font-face {
    font-family: 'GT Pressura';
    src: url('../fonts/GT-Pressura-Pro-Mono-Regular.eot');
    src: url('../fonts/GT-Pressura-Pro-Mono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GT-Pressura-Pro-Mono-Regular.woff2') format('woff2'),
         url('../fonts/GT-Pressura-Pro-Mono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}*/

@font-face {
    font-family: 'GT America';
    src: url('../fonts/GTAmerica-Medium.eot');
    src: url('../fonts/GTAmerica-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GTAmerica-Medium.woff2') format('woff2'),
         url('../fonts/GTAmerica-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT America';
    src: url('../fonts/GTAmerica-Bold.eot');
    src: url('../fonts/GTAmerica-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GTAmerica-Bold.woff2') format('woff2'),
         url('../fonts/GTAmerica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'SangBleu Versailles';
    src: url('../fonts/SangBleuVersailles-RegularItalic.woff2') format('woff2'),
         url('../fonts/SangBleuVersailles-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SangBleu Versailles';
    src: url('../fonts/SangBleuVersailles-Regular.woff2') format('woff2'),
         url('../fonts/SangBleuVersailles-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SangBleu Versailles';
    src: url('../fonts/SangBleuVersailles-Medium.woff2') format('woff2'),
         url('../fonts/SangBleuVersailles-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SangBleu Versailles';
    src: url('../fonts/SangBleuVersailles-MediumItalic.woff2') format('woff2'),
         url('../fonts/SangBleuVersailles-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse';
    src: url('../fonts/SuisseIntl-Light.woff2') format('woff2'),
         url('../fonts/SuisseIntl-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse';
    src: url('../fonts/SuisseIntl-Medium.woff2') format('woff2'),
         url('../fonts/SuisseIntl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



