* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  width: 100%;
  height: 100%;

  margin: 0;

  font-family: $primaryFont;
  font-weight: 400;
  font-style: normal;
  color: $primaryGrey;

  overflow-x: hidden;

  background: $white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mfp-bg {
  opacity: 0.6;
  z-index: 3999;
}
.mfp-wrap {
  z-index: 4000;
}

.mfp-close {
  opacity: 1;
}

.mfp-arrow {
  opacity: 1;
  outline: 1px solid red;
  &::after,
  &::before {
    border: none;
    opacity: 1;
  }

  &::after {
    width: 20px;
    height: 20px;

    background-image: url('../images/arrow-breadcrumb-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.mfp-arrow-left {
    &::after {
      margin-left: 20px;
      transform: rotate(180deg);
    }
  }
}


// Typography
h1, h2, h3, h4, h5, h6 {
  font-family: $primaryFont;
  font-weight: 900;

  &.black {
    font-weight: 900;
  }
}

p {
  font-family: $primaryFont;
}

a {
  color: $primaryGrey;
  text-decoration: none;
}

%underline-link {
  position: relative;
  color: $primaryGrey;
  text-decoration: none;

  transition: all 250ms ease;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 1px;

    background: $primaryGrey;

    content: '';

    transition: all 250ms ease;
  }

  &:hover {
    color: $red;

    &::before {
      width: 100%;
      background: $red;
    }
  }

  &--red {
    @extend %underline-link;
    color: $red;

    &::before {
      background: $red;
    }
  }

  &--maroon {
    @extend %underline-link;
    color: $maroon;

    &::before {
      background: $maroon;
    }
  }
}

p a {
  position: relative;
  color: $black;
  text-decoration: none;

  transition: all 250ms ease;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 1px;

    background: $black;

    content: '';

    transition: all 250ms ease;
  }

  &:hover {
    color: $red;

    &::before {
      width: 100%;
      background: $red;
    }
  }
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  color: $red;
  font-family: $primaryFont;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;

  background: $white;

  transition: all 250ms ease;

  border-radius: 50px;

  &:hover {
    color: $white;
    background: $red;

    transform: translate(-1px, -1px);
    box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    transform: translate(1px, 1px);
  }

  &.arrow {
    position: relative;
    padding: 15px 40px;

    &::before {
      position: absolute;
      top: 20px;
      left: 15px;

      width: 25px;
      height: 10px;

      opacity: 0;

      background-image: url('../images/arrow-styled.svg');
      background-repeat: no-repeat;
      background-size: contain;

      transition: all 250ms ease;

      content: '';
    }

    span {
      position: relative;
      right: 0;

      transition: right 250ms ease;
    }

    &:hover {
      &::before {
        left: 25px;
        opacity: 1;
      }

      span {
        right: -15px;
      }
    }
  }

  &.red {
    color: $white;
    background: $red;

    &::before {
      background-image: url('../images/arrow-styled-red.svg');
    }

    &:hover {
      color: $red;
      background: $white;
    }
  }

  &.outline {
    color: $red;
    background: transparent;
    border: 2px solid $red;

    &::before {
      background-image: url('../images/arrow-styled.svg');
    }

    &:hover {
      color: $white;
      background: $red;
    }
  }

  &.small {
    padding: 10px 40px;

    &::before {
      top: 15px;
    }
  }

  &.wide {
    padding: 15px 60px;

    &::before {
      left: 35px;
    }

    &:hover {
      &::before {
        left: 45px;
      }
    }
  }

  &--oval {
    @extend .btn;
    padding: 10px;
    color: $white;
    background: $red;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    &:hover {
      color: $red;
      background: $white;
    }
  }
  
  &--outline {
    @extend .btn;
    background: transparent;

    border: 2px solid $red;

    &:hover {
      background: $red;
    }

    &.thin {
      padding: 7px 40px;
    }
  }

  &--text {
    position: relative;
    font-family: $headlineFont;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $red;

    padding-right: 12px;

    &::before {
      position: absolute;
      top: 4px;
      right: 2px;

      width: 0; 
      height: 0; 
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      
      border-left: 5px solid $red;

      content: '';

      transition: transform 250ms ease;
    }

    &:hover {
      &::before {
        // right: 0;

        transform: translateX(4px);
      }
    }
  }

  &--red {
    @extend .btn;
    padding: 15px 35px;

    color: $white;
    font-size: 18px;
    background: $red;

    border: 2px solid $red;

    &:hover {
      color: $red;
      background: $white; 
      border-color: $white;
    }
  }

  &--share {
    color: $black;
    margin-left: 10px;
  }

  &.full {
    @extend .btn;
    display: inline-block;
    padding: 15px;
    min-width: 140px;
    max-width: 100%;

    text-align: center;

    font-size: 12px;

    @include mq($min-width: $mdBreak) {
      min-width: 170px;
      padding: 15px 30px;

      font-size: 14px;
    }

    @include mq($min-width: $lgBreak) {
      min-width: 200px;
    }
  }
}

/* ********************************* *
 * Site: Universal
 * ********************************* */
.container {
  position: relative;
  max-width: 1240px;

  margin: 0 auto;
  padding: 0 25px;

  &--xs {
    @extend .container !optional;
    max-width: 750px;
  }

  &--sm {
    @extend .container !optional;
    max-width: 900px;
  }

  &--md {
    @extend .container !optional;
    max-width: 1100px;
  }

  &--lg {
    @extend .container !optional;
    max-width: 1420px;
  }

  @include mq($min-width: $mdBreak) {
    padding: 0 40px;
  }

  // Grid containers padding accounts for .card's padding.
  &--grid-header {
    max-width: 1660px;

    margin: 0 auto;
    padding: 0 10px;

    @include mq($min-width: $xlBreak) {
      padding: 0 55px;
    } 

    &.tag-archive {
      padding: 0 20px;

      @include mq($min-width: $mdBreak) {
        padding: 0 34px;
      }

      @include mq($min-width: $xlBreak) {
        padding: 0 60px;
      }
    }

    &.places {
      max-width: 1700px;
      padding: 0 20px;

      @include mq($min-width: $mdBreak) {
        padding: 0 30px;
      }

      @include mq($min-width: $xlBreak) {
        padding: 0 70px;
      }
    }
  }

  &--grid {
    max-width: 1700px;

    margin: 0 auto;
    padding: 0 10px;

    @include mq($min-width: $mdBreak) {
      padding: 0 20px;
    }

    @include mq($min-width: $xlBreak) {
      padding: 0 60px;
    }

    &.top {
      padding: 0 20px;
      @include mq($min-width: $mdBreak) {
        padding: 0 32px;
      }

      @include mq($min-width: $xlBreak) {
        padding: 0 72px;
      }
    }

    // Used on place single page (bottom)
    &.place-single {
      max-width: 1220px;

      @include mq($min-width: $xlBreak) {
        padding: 0 20px;
      }
    }

    &.city-guide {
      padding-top: 10px;

      @include mq($min-width: $drawerBreak) {
        padding: 20px !important;
      }
    }

    // Used on place single page (bottom)
    &.xsmall {
      max-width: 970px;
    }
  }
}

/* ********************************* *
 * CTAs
 * ********************************* */
.cta {
  text-align: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;

  &__wide {
    @extend .cta !optional;
    padding: 40px 0;

    @include mq($min-width: $mdBreak) {
      padding: 40px 0 90px 0;
    }
  }

  &__inpage {
    @extend .cta !optional;
    max-width: 1100px;
    margin: 10px auto;
    padding: 20px;

    border-radius: 12px;

    @include mq($min-width: $mdBreak) {
      padding: 20px 80px 30px 80px;
    }

    @include mq($min-width: $lgBreak) {
      padding: 20px 80px 30px 80px;
    }
  }

  &.pink-stripe {
    background-image: url('../images/bg-pink-stripe.jpg');
    
  }

  &.yellow-stripe {
    background-image: url('../images/bg-yellow-stripe.jpg');
  }

  &.standard {
    border-radius: 0;

    @include mq($min-width: $mdBreak) {
      border-radius: 12px;
    }
  }

  &__subline {
    margin: 20px 0;
    font-size: 16px;
    color: $red;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }

  &__headline {
    margin: 0 0 20px 0;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 0.5px;
    line-height: 40px;
    color: $black;

    @include mq($min-width: $mdBreak) {
      margin-bottom: 40px;
      font-size: 54px;
      line-height: 58px;
    }
  }

  .btn--outline {
    // margin-top: 10px;
  }

  .subscribe-form {
    max-width: 600px;
    margin: 20px auto 0 auto;

    &.success {
      .form-wrapper {
        height: 0;
      }
    }

    .form-wrapper {
      display: flex;
      height: 60px;
      
      padding: 0;

      background: $white;
      border-radius: 50px;
    }

    .checkbox-wrapper {
      margin-top: 20px;
      // padding: 0 30px;
      text-align: left;

      @include mq($min-width: $mdBreak) {
        padding: 0 30px;
      }

      a {
        color: $black;
        text-decoration: underline;
      }

      .checkbox .checkmark {
        top: -2px;
      }

      .subscribe-form__message.success {
        text-align: center;
        font-size: 12px;
        margin: 40px 0 20px 0;
      }
    }

    input {
      margin: 0;
      padding: 20px 10px 17px 30px;  
      border-bottom: none;

      &:required {
          box-shadow: none;
      }
    }

    button {
      margin-top: 3px;
      margin-right: 2px;

      padding: 10px 15px;
      width: 195px;
      height: 55px;

      font-size: 12px;

      @include mq($min-width: $mdBreak) {
        margin-top: 3px;
        

        font-size: 14px;
      }
    }
  }
}

/* ********************************* *
 * Search Form
 * ********************************* */
.search {
    &__form {
        position: relative;
        display: block;
        width: 100%;
        max-width: 600px;

        padding: 25px 30px 22px 30px;
        margin: 40px auto 0 auto;

        background: $white;
        border-radius: 50px;

        @include mq($min-width: $mdBreak) {
            margin-top: 50px;
        }

        input[type="search"] {
          -webkit-appearance: none;

          display: block;

          width: calc(100% - 30px);
          height: 22px;

          margin: 0;
          padding: 0;

          border: none;

          font-family: $secondaryFont;
          font-size: 16px;
          line-height: 22px;
          text-transform: uppercase !important;

          &::placeholder {
              font-family: $secondaryFont;
              color: $black;
          }

          &:focus {
              outline: none;  
          }

          @include mq($min-width: $mdBreak) {
            font-size: 14px;
          }
        }

        input[type="submit"] {

            -webkit-appearance: none;

            position: absolute;
            top: 20px;
            right: 30px;

            background: $white;

            width: 30px;
            height: 30px;

            border: none;

            background-image: url('../images/icon-search-red.svg');
            background-repeat: no-repeat;
            background-position: center center;

            cursor: pointer;

            transform: translate(0, 0);
            transition: transform 250ms ease;

            &:hover {
                transform: translate(-1px, -1px);
            }
        }
    }
}



.error404 {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;

    min-height: 300px;

    padding: 0 40px;

    text-align: center;

    h1 {
      text-align: center;
    }
  }
}

.section {
  &__headline {
    position: relative;
    margin: 0;
    font-size: 42px;
    line-height: 46px;
    color: $black;
    // text-align: left;
    text-transform: uppercase;

    @include mq($min-width: $mdBreak) {
      font-size: 60px;
      line-height: 62px;
    }

    &.red {
      color: $red;
    }

    &.centered {
      text-align: center;
    }

    span.count {
      font-size: 16px; 
      color: $primaryGrey;
    }
  }

  &__subline {
    position: relative;
    margin: 0;
    font-size: 18px;
    color: $black;

    // text-transform: uppercase;

    @include mq($min-width: $mdBreak) {
      font-size: 28px;
    }

    &.red {
      color: $red;
    }

    &.s-error404 {
      margin: 10px 0 30px 0;
      @include mq($min-width: $mdBreak) {
        margin: 20px 0 30px 0;
      }
    }
  }

  &__pagination {
    padding-bottom: 40px;

    text-align: center;

    @include mq($min-width: $mdBreak) {
      padding-bottom: 80px;
    }

    a,
    span {
      color: $primaryRed;
    }

    span {
      font-weight: 700;
    }

    .page-numbers {
      &.prev {
        position: absolute;
        left: 20px;

        @include mq($min-width: $mdBreak) {
          left: 40px;
        }
      }

      &.next {
        position: absolute;
        right: 20px;

        @include mq($min-width: $mdBreak) {
          right: 40px;
        }
      }
    }
  }
}


/* Ads */
.provided-by {
  border: 1px solid #ddd;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &--mobile {
    @extend .provided-by !optional;
    display: block;

    @include mq($min-width: $mdBreak) {
      display: none;
    }
  }

  &--desktop {
    @extend .provided-by !optional;
    display: none;

    @include mq($min-width: $mdBreak) {
      display: block;
    }
  }
}

/* ********************************* *
 * Site: Header
 * ********************************* */
.header {
  padding: 15px;
  display: flex;

  background: $bgColor;

  @include mq($min-width: $lgBreak) {
    padding: 15px 50px;
  }

  &__logo {
    display: block;
    
    max-width: 50px;
    height: auto;

    // Hide underline
    &::before {
      display: none;
    }
      
    @include mq($min-width: $mdBreak) {
      max-width: 70px;
    }

    img {
      display: block;
    }
  }

  &__nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: right;
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin-left: 20px;

        &.current-menu-item,
        &.current-page-ancestor {
          a {
            text-decoration: underline;
          }
        }
      }

      a {
        font-family: 'American Typewriter';
        color: $primaryGrey;
        text-decoration: none;
      }
    }
  }
}

/* ********************************* *
 * TEMP CONTENT
 * ********************************* */
.flex {
  display: flex;
  flex-wrap: wrap;
  
  article {
    flex-basis: 25%;
  }
}

/* *****************
 * Search
 * ******************/
.search-form {
  input[type=search] {
    padding: 10px 0;

    -webkit-appearance: none;

    font-family: $bodyFont;
    font-size: 16px;
    color: $primaryRed;
    
    background: transparent;
    border: none;
    border-bottom: 1px solid $primaryRed;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $black;
    }
  }

  input[type=submit] {
    position: relative;
    top: 3px;
    padding: 10px 15px;
    background: transparent;
    color: $primaryRed;
    -webkit-appearance: none;
    border: 1px solid $primaryRed;
    cursor: pointer;

    transition: all 250ms ease;

    &:hover {
      color: $bgColor;
      background: $primaryRed;
    }
  }
}
.screen-reader-text {
  display: none;
}

.comingsoon {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100vh;

  padding: 20px;

  background: #F9F7F3;
  text-align: center;

  img {
    max-width: 70px;
    height: auto;
    margin: 0 auto;
  }

  h2 {
    font-family: 'Avenir';
    color: #3E4240;
  }
}

.placeholder {
  width: 100%;
  background: #ddd;
  margin-bottom: 20px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: $primaryFont;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.5px;

  &--xs {
    @extend .placeholder; 
    height: 40px;
  }

  &--sm {
    @extend .placeholder; 
    height: 120px;
    margin-right: 40px;
  }

  &--lg {
    @extend .placeholder; 
    margin: 20px 0;
    height: 350px;
  }
}

.splash-nav {
  padding: 30px 20px;

  text-align: center;

  img {
    height: 50px;
    width: auto;
  }

  @include mq($min-width: $mdBreak) {
    padding: 25px 20px;

    img {
      height: 70px;
      width: auto;
    }
  }
}

%section {
  padding: 70px 0;

  h3 {
    margin: 0 0 30px 0;
    font-size: 42px;
    line-height: 48px;
    text-transform: uppercase;
  }

  p {
    margin: 0 0 20px 0;

    font-family: $secondaryFont;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
  }

  @include mq($min-width: $smBreak) {
    h3 {
      font-size: 48px;
      line-height: 54px;
    }
  }

  @include mq($min-width: 414px) {
    h3 {
      font-size: 56px;
      line-height: 62px;
    }
  }

  @include mq($min-width: $mdBreak) {
    padding: 80px 40px;
  }

  @include mq($min-width: $lgBreak) {
    padding: 140px 60px;

    h3 {
      margin: 0 0 20px 0;
      font-size: 80px;
      line-height: 82px;
    }
  }
}
