$white: #ffffff;
$borderColor: #666666;

$xsBreak: 375px;
$smBreak: 420px;
$mdBreak: 767px;
$lgBreak: 1040px;
$xlBreak: 1500px;

$drawerBreak: 900px;

$futuraPlain: 'Futura', sans-serif;

// Final Variables
$bodyFont: futura-pt, 'Futura', sans-serif;
$headlineFont: futura-pt-bold, 'Futura', sans-serif;
$sublineFont: $futuraPlain;
$secondaryFont: 'American Typewriter', monospace;

$primaryGrey: #3E4240;
$primaryRed: #63252A;
$black: #231F20;


$yellow: #FCF17A;
// sRGB translate to $red: #FF0001;
$red: #EE3024;
// $red: #FF0001;
$maroon: #63252A;
$pink: #FAD0C3;
$green: #87AA7F;
$grey: #3E4240;

$footerBG: #EBE8DE;
$bgColor: #F8F3E4;


// Final Fonts
$primaryFont: freight-sans-pro, sans-serif;
$secondaryFont: 'GT Pressura', sans-serif;



